In [44]:
import pandas as pd
import numpy as np

In [45]:
data=pd.read_csv("/Users/aayushjain/Downloads/EVRE_vehicle_readings.csv")

In [46]:
data

     Unnamed: 0 Vehicle Number  Closing KM
0             0      WB04J0946       64298
1             1      WB04J0974       47276
2             2      WB04J1042       51823
3             3      WB04J2157       30317
4             4      WB04J2167       32480
..          ...            ...         ...
133         133      wb04j2261       19849
134         134      wb04j2272       28144
135         135      wb04j2446       30259
136         136      wb05a1601       29103
137         137      wb05a1643       28884

[138 rows x 3 columns]

In [47]:
data=data[['Vehicle Number','Closing KM']]

In [48]:
data

    Vehicle Number  Closing KM
0        WB04J0946       64298
1        WB04J0974       47276
2        WB04J1042       51823
3        WB04J2157       30317
4        WB04J2167       32480
..             ...         ...
133      wb04j2261       19849
134      wb04j2272       28144
135      wb04j2446       30259
136      wb05a1601       29103
137      wb05a1643       28884

[138 rows x 2 columns]

In [49]:
data['Closing KM'].loc[:5]+=200

/var/folders/q_/dn720rf91691y39h0s_hr_280000gn/T/ipykernel_4509/3734308621.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Closing KM'].loc[:5]+=200

In [50]:
data['Closing KM'].loc[6:]+=2000

/var/folders/q_/dn720rf91691y39h0s_hr_280000gn/T/ipykernel_4509/1547728421.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Closing KM'].loc[6:]+=2000

In [51]:
data.rename(columns = {'Closing KM':'CurrentReading'}, inplace = True)

/var/folders/q_/dn720rf91691y39h0s_hr_280000gn/T/ipykernel_4509/1762554160.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.rename(columns = {'Closing KM':'CurrentReading'}, inplace = True)

In [52]:
data

    Vehicle Number  CurrentReading
0        WB04J0946           64498
1        WB04J0974           47476
2        WB04J1042           52023
3        WB04J2157           30517
4        WB04J2167           32680
..             ...             ...
133      wb04j2261           21849
134      wb04j2272           30144
135      wb04j2446           32259
136      wb05a1601           31103
137      wb05a1643           30884

[138 rows x 2 columns]

In [53]:
data.to_csv("DUMP.csv")

In [54]:
import streamlit as st
import pandas as pd
from urllib.parse import quote_plus
import pymongo
from pymongo import MongoClient

import certifi

ca_cert_bundle = certifi.where()  # Use the system's trusted CA bundle


username = 'bt22cse089'
password = 'aayush@123'
encoded_password = quote_plus(password)
connection_string = f'mongodb+srv://{username}:{encoded_password}@for-testing.ocsya6p.mongodb.net/?retryWrites=true&w=majority&appName=For-testing&tlsCAFile={ca_cert_bundle}'

client = MongoClient(connection_string)

db = client["VehicleMaintenance"]
collection = db["VehicleReading"]

In [55]:
cursor = collection.find()
cursor_list = list(cursor)

# Check if cursor_list is not empty
if cursor_list:
    # Convert the cursor to a pandas DataFrame
    cursor_df = pd.DataFrame(cursor_list)
    print(cursor_df)
else:
    print("No data found.")

                          _id Vehicle Number  Closing KM  current_reading
0    668243a3c471abd87c068782      WB04J0946       64298            64498
1    668243a3c471abd87c068783      WB04J0974       47276            47476
2    668243a3c471abd87c068784      WB04J1042       51823            52023
3    668243a3c471abd87c068785      WB04J2157       30317            30517
4    668243a3c471abd87c068786      WB04J2167       32480            32680
..                        ...            ...         ...              ...
133  668243a3c471abd87c068807      wb04j2261       19849            19849
134  668243a3c471abd87c068808      wb04j2272       28144            28144
135  668243a3c471abd87c068809      wb04j2446       30259            30259
136  668243a3c471abd87c06880a      wb05a1601       29103            29103
137  668243a3c471abd87c06880b      wb05a1643       28884            28884

[138 rows x 4 columns]

In [56]:
import pandas as pd
from urllib.parse import quote_plus
from pymongo import MongoClient
import certifi

def init_connection(username, password):
    ca_cert_bundle = certifi.where()  
    encoded_password = quote_plus(password)
    connection_string = f'mongodb+srv://{username}:{encoded_password}@for-testing.ocsya6p.mongodb.net/?retryWrites=true&w=majority&appName=For-testing&tlsCAFile={ca_cert_bundle}'
    return MongoClient(connection_string)

# Initialize MongoDB client
username = 'bt22cse089'
password = 'aayush@123'
client = init_connection(username, password)
db = client["VehicleMaintenance"]
collection = db["VehicleReading"]

In [57]:
def add_vehicle(vehicle_number, closing_km):
    """
    Adds a new vehicle record to MongoDB.
    """
    collection.insert_one({
        "Vehicle Number": vehicle_number,
        "Closing KM": closing_km,
        "current_reading": closing_km
    })

def delete_vehicle(vehicle_number):
    """
    Deletes a vehicle record from MongoDB based on vehicle number.
    Returns True if successfully deleted, False otherwise.
    """
    result = collection.delete_one({"Vehicle Number": vehicle_number})
    return result.deleted_count > 0

In [59]:
new_vehicle_number = "ABC123"
new_closing_km = 50000
add_vehicle(new_vehicle_number, new_closing_km)
print(f"Vehicle {new_vehicle_number} added successfully.")

delete_vehicle_number = "ABC123"
if delete_vehicle(delete_vehicle_number):
    print(f"Vehicle {delete_vehicle_number} deleted successfully.")
else:
    print(f"Vehicle {delete_vehicle_number} not found.")

Vehicle ABC123 added successfully.
Vehicle ABC123 deleted successfully.