In [1]:
import pandas as pd 
import numpy as np

In [35]:
import pandas as pd
from pymongo import MongoClient
from urllib.parse import quote_plus
from datetime import datetime, timedelta

import certifi

ca_cert_bundle = certifi.where()  # Use the system's trusted CA bundle


username = 'ML_Snape'
password = 'Learn@2024'
encoded_password = quote_plus(password)
connection_string = f'mongodb+srv://{username}:{encoded_password}@snapeeapp.3rtq6.mongodb.net/?retryWrites=true&w=majority&appName=snapeeApp&tlsCAFile={ca_cert_bundle}'

'''
connection_string=f'mongodb+srv://ML_Snape:Learn@2024@snapeeapp.3rtq6.mongodb.net/?retryWrites=true&w=majority&appName=snapeeApp&tlsCAFile={ca_cert_bundle}'
'''


client = MongoClient(connection_string)
db = client['snapee']
collection = db['bookings_rides']

current_datetime = datetime.now()
current_datetime_utc = current_datetime 
prev_25_hours_utc = current_datetime_utc - timedelta(hours=10)

# Query and projection
query = {
    'createdDate': {
        '$gte': prev_25_hours_utc,
        '$lte': current_datetime_utc
    }
}
projection = {
    'createdDate': 1,
    'pickup.location.latitude': 1,
    'pickup.location.longitude': 1,
    'bookingStatusText':1,
    'createdBy.mobile': 1,
    'invoice':1,
    'drop.location.latitude': 1,
    'drop.location.longitude': 1,
    'reqpyalod.distance':1
}

# Execute the query and fetch the data
cursor = collection.find(query, projection)
cursor_list = list(cursor)

# Check if cursor_list is not empty
if cursor_list:
    # Convert the cursor to a pandas DataFrame
    cursor_df = pd.DataFrame(cursor_list)
    cursor_df['longitude'] = cursor_df['pickup'].apply(lambda x: x['location']['longitude'])
    cursor_df['latitude'] = cursor_df['pickup'].apply(lambda x: x['location']['latitude'])
    cursor_df['drop_longitude'] = cursor_df['drop'].apply(lambda x: x['location']['longitude'])
    cursor_df['drop_latitude'] = cursor_df['drop'].apply(lambda x: x['location']['latitude'])
    cursor_df['createdBy.mobile'] = cursor_df['createdBy'].apply(lambda x: str(x['mobile']))
    #cursor_df['distancedeadhead'] = cursor_df['invoice'].apply(lambda x: str(x['DeadHead']))

    cursor_df = cursor_df.drop(['pickup', 'createdBy','drop'], axis=1)
    print(cursor_df)
else:
    print("No data found.")

client.close()

                           _id              bookingStatusText  \
0     667d00759506bb00298968e5             Customer Cancelled
1     667d00804bc197001598b81a             Customer Cancelled
2     667d0081bb15a062fe548762  Request Cancelled By Customer
3     667d00844bc197001598b81f                      Completed
4     667d008bbb15a062fe548765                      Completed
...                        ...                            ...
2454  667d3f8bbdfdf6002a89a532                       Accepted
2455  667d3fa9bdfdf6002a89a539                            New
2456  667d3fa9bdfdf6002a89a53a                            New
2457  667d3faabdfdf6002a89a53c                       Accepted
2458  667d3fb4c953fd00161788af                            New

             createdDate                                            invoice  \
0    2024-06-27 06:02:29  {'currency': 'INR', 'currencySbl': '₹', 'curre...
1    2024-06-27 06:02:40  {'currency': 'INR', 'currencySbl': '₹', 'curre...
2    2024-06-27 06:02:41  {'currency': 'INR', 'currencySbl': '₹', 'curre...
3    2024-06-27 06:02:44  {'currency': 'INR', 'currencySbl': '₹', 'curre...
4    2024-06-27 06:02:50  {'currency': 'INR', 'currencySbl': '₹', 'curre...
...                  ...                                                ...
2454 2024-06-27 10:31:38  {'currency': 'INR', 'currencySbl': '₹', 'curre...
2455 2024-06-27 10:32:08  {'currency': 'INR', 'currencySbl': '₹', 'curre...
2456 2024-06-27 10:32:08  {'currency': 'INR', 'currencySbl': '₹', 'curre...
2457 2024-06-27 10:32:09  {'currency': 'INR', 'currencySbl': '₹', 'curre...
2458 2024-06-27 10:32:20  {'currency': 'INR', 'currencySbl': '₹', 'curre...

                  reqpyalod  longitude   latitude  drop_longitude  \
0      {'distance': '8.28'}  88.432707  22.619546       88.391178
1      {'distance': '8.93'}  88.385620  22.539097       88.437852
2      {'distance': '6.42'}  88.410446  22.606840       88.392991
3      {'distance': '5.96'}  88.469321  22.621001       88.490131
4      {'distance': '6.59'}  88.377647  22.593794       88.359126
...                     ...        ...        ...             ...
2454  {'distance': '21.32'}  88.438817  22.643219       88.406324
2455   {'distance': '5.60'}  88.406018  22.607972       88.405382
2456   {'distance': '8.51'}  88.431286  22.569934       88.368869
2457  {'distance': '13.90'}  88.438782  22.643070       88.363984
2458   {'distance': '8.01'}  88.511222  22.569657       88.470002

      drop_latitude createdBy.mobile
0         22.568451       7596992632
1         22.579788       9051974178
2         22.577753       9007072138
3         22.585991       9749193282
4         22.542091       9434206737
...             ...              ...
2454      22.511037       8360475802
2455      22.570620       9330699660
2456      22.583268       9339455630
2457      22.635010       9836615752
2458      22.581233       7003798017

[2459 rows x 10 columns]

In [36]:
cursor_df

,_id,bookingStatusText,createdDate,invoice,reqpyalod,longitude,latitude,drop_longitude,drop_latitude,createdBy.mobile
0,667d00759506bb00298968e5,Customer Cancelled,2024-06-27 06:02:29,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '8.28'},88.432707,22.619546,88.391178,22.568451,7596992632
1,667d00804bc197001598b81a,Customer Cancelled,2024-06-27 06:02:40,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '8.93'},88.385620,22.539097,88.437852,22.579788,9051974178
2,667d0081bb15a062fe548762,Request Cancelled By Customer,2024-06-27 06:02:41,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '6.42'},88.410446,22.606840,88.392991,22.577753,9007072138
3,667d00844bc197001598b81f,Completed,2024-06-27 06:02:44,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '5.96'},88.469321,22.621001,88.490131,22.585991,9749193282
4,667d008bbb15a062fe548765,Completed,2024-06-27 06:02:50,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '6.59'},88.377647,22.593794,88.359126,22.542091,9434206737
...,...,...,...,...,...,...,...,...,...,...
2454,667d3f8bbdfdf6002a89a532,Accepted,2024-06-27 10:31:38,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '21.32'},88.438817,22.643219,88.406324,22.511037,8360475802
2455,667d3fa9bdfdf6002a89a539,New,2024-06-27 10:32:08,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '5.60'},88.406018,22.607972,88.405382,22.570620,9330699660
2456,667d3fa9bdfdf6002a89a53a,New,2024-06-27 10:32:08,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '8.51'},88.431286,22.569934,88.368869,22.583268,9339455630
2457,667d3faabdfdf6002a89a53c,Accepted,2024-06-27 10:32:09,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '13.90'},88.438782,22.643070,88.363984,22.635010,9836615752
2458,667d3fb4c953fd00161788af,New,2024-06-27 10:32:20,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '8.01'},88.511222,22.569657,88.470002,22.581233,7003798017

In [37]:
cursor_df['invoice']

0       {'currency': 'INR', 'currencySbl': '₹', 'curre...
1       {'currency': 'INR', 'currencySbl': '₹', 'curre...
2       {'currency': 'INR', 'currencySbl': '₹', 'curre...
3       {'currency': 'INR', 'currencySbl': '₹', 'curre...
4       {'currency': 'INR', 'currencySbl': '₹', 'curre...
                              ...
2454    {'currency': 'INR', 'currencySbl': '₹', 'curre...
2455    {'currency': 'INR', 'currencySbl': '₹', 'curre...
2456    {'currency': 'INR', 'currencySbl': '₹', 'curre...
2457    {'currency': 'INR', 'currencySbl': '₹', 'curre...
2458    {'currency': 'INR', 'currencySbl': '₹', 'curre...
Name: invoice, Length: 2459, dtype: object

In [38]:
cursor_df['distancedeadhead'] = cursor_df['invoice'].apply(lambda x: int(x['distanceDeadHead']))

In [39]:
cursor_df['distancedeadhead'].unique()

array([0])

In [42]:

cursor_df['Turf'] = cursor_df['invoice'].apply(lambda x: int(x['distanceTurf']))

In [44]:
cursor_df['DistDriver'] = cursor_df['invoice'].apply(lambda x: int(x['distanceDriver']))

In [45]:
cursor_df['DistDriver'].describe()

count    2459.000000
mean        2.949573
std         4.659860
min         0.000000
25%         0.000000
50%         0.000000
75%         5.000000
max        31.000000
Name: DistDriver, dtype: float64

In [63]:
cursor_df[cursor_df['bookingStatusText']=='Completed'].head(50)

,_id,bookingStatusText,createdDate,invoice,reqpyalod,longitude,latitude,drop_longitude,drop_latitude,createdBy.mobile,distancedeadhead,Turf,DistDriver
3,667d00844bc197001598b81f,Completed,2024-06-27 06:02:44,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '5.96'},88.469321,22.621001,88.490131,22.585991,9749193282,0,4,4
4,667d008bbb15a062fe548765,Completed,2024-06-27 06:02:50,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '6.59'},88.377647,22.593794,88.359126,22.542091,9434206737,0,6,6
6,667d00974a0ee5b075064494,Completed,2024-06-27 06:03:02,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '8.27'},88.432609,22.619558,88.391178,22.568451,7596992632,0,9,9
9,667d00a24bc197001598b828,Completed,2024-06-27 06:03:14,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '1.33'},88.455294,22.577538,88.461693,22.581311,7388088765,0,1,1
11,667d00b04a0ee5b07506449d,Completed,2024-06-27 06:03:28,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '7.99'},88.386118,22.508970,88.324365,22.513909,9830220913,0,8,6
12,667d00b34a0ee5b0750644a0,Completed,2024-06-27 06:03:30,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '14.66'},88.438817,22.643219,88.360931,22.573360,7044095769,0,10,5
16,667d00bb4a0ee5b0750644a4,Completed,2024-06-27 06:03:39,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '7.52'},88.385132,22.591749,88.355381,22.542457,6291687054,0,11,11
18,667d00c34a0ee5b0750644ab,Completed,2024-06-27 06:03:47,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '5.01'},88.354614,22.538013,88.351527,22.573217,9830337654,0,20,22
20,667d00c94a0ee5b0750644b2,Completed,2024-06-27 06:03:53,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '9.36'},88.370327,22.593487,88.364722,22.523056,8583072545,0,9,9
24,667d00dc4a0ee5b0750644bb,Completed,2024-06-27 06:04:11,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '17.24'},88.417881,22.611252,88.362879,22.518180,7003995634,0,21,21
25,667d00e09506bb002989690a,Completed,2024-06-27 06:04:15,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '6.80'},88.343207,22.582093,88.361154,22.547258,7003283387,0,9,9
26,667d00e39506bb002989690c,Completed,2024-06-27 06:04:17,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '4.34'},88.430231,22.594998,88.435956,22.569302,8877006650,0,5,5
28,667d00e44a0ee5b0750644c6,Completed,2024-06-27 06:04:20,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '8.42'},88.387302,22.625548,88.352119,22.576736,9874860333,0,8,8
30,667d00e99506bb0029896911,Completed,2024-06-27 06:04:25,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '9.53'},88.371974,22.541534,88.340856,22.598666,8100520590,0,0,0
32,667d00f89506bb0029896919,Completed,2024-06-27 06:04:39,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '8.53'},88.434339,22.629082,88.436142,22.568396,9831630251,0,8,8
33,667d00f94a0ee5b0750644ca,Completed,2024-06-27 06:04:40,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '9.20'},88.369127,22.553514,88.398162,22.514549,9831059200,0,9,9
34,667d00fc9506bb002989691c,Completed,2024-06-27 06:04:44,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '4.17'},88.363981,22.599886,88.364972,22.599535,9831813372,0,0,0
36,667d01049506bb0029896924,Completed,2024-06-27 06:04:52,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '9.70'},88.438817,22.643219,88.432654,22.577302,9830795884,0,9,9
38,667d010f4a0ee5b0750644e1,Completed,2024-06-27 06:05:03,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '6.26'},88.455902,22.577519,88.433183,22.568802,9910031013,0,5,5
45,667d012d4a0ee5b0750644fd,Completed,2024-06-27 06:05:33,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '2.99'},88.373758,22.571594,88.353497,22.573737,9831046538,0,3,3
46,667d0140bb15a062fe548781,Completed,2024-06-27 06:05:51,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '5.52'},88.398850,22.580785,88.437737,22.579700,8910124996,0,6,6
47,667d01414a0ee5b075064506,Completed,2024-06-27 06:05:53,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '6.63'},88.406177,22.582855,88.454241,22.587971,9433392302,0,6,6
49,667d014a4a0ee5b075064508,Completed,2024-06-27 06:06:02,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '5.93'},88.371504,22.539814,88.330798,22.556369,8583086914,0,5,5
50,667d014b4a0ee5b07506450a,Completed,2024-06-27 06:06:02,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '4.59'},88.390348,22.591500,88.353290,22.590308,9007813211,0,4,4
51,667d0152bb15a062fe54878c,Completed,2024-06-27 06:06:09,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '14.30'},88.438674,22.582570,88.347057,22.585001,8637883983,0,12,12
53,667d0164bb15a062fe548796,Completed,2024-06-27 06:06:28,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '7.39'},88.394496,22.574326,88.342388,22.581924,8274961351,0,7,7
54,667d0167bb15a062fe54879b,Completed,2024-06-27 06:06:30,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '3.52'},88.422797,22.609284,88.446186,22.626656,8145468171,0,4,4
56,667d0172bb15a062fe5487a4,Completed,2024-06-27 06:06:42,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '12.10'},88.369333,22.583673,88.451455,22.636418,9830268078,0,13,13
59,667d01854bc197001598b846,Completed,2024-06-27 06:07:00,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '7.52'},88.321840,22.540778,88.365359,22.517583,9547260267,0,6,5
60,667d01924a0ee5b075064513,Completed,2024-06-27 06:07:14,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '8.52'},88.355415,22.477617,88.350746,22.560226,9331033776,0,10,10
61,667d019dbb15a062fe5487ad,Completed,2024-06-27 06:07:24,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '17.16'},88.400640,22.493962,88.341866,22.592704,8232921834,0,20,20
62,667d01a09506bb002989694b,Completed,2024-06-27 06:07:27,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '4.87'},88.382437,22.548257,88.349211,22.549679,7439450113,0,5,5
63,667d01a04a0ee5b075064517,Completed,2024-06-27 06:07:28,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '11.41'},88.343120,22.582793,88.428766,22.571572,7003112040,0,11,11
64,667d01a44bc197001598b849,Completed,2024-06-27 06:07:32,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '2.46'},88.412973,22.556816,88.405382,22.570620,7003969663,0,6,6
65,667d01a44a0ee5b07506451a,Completed,2024-06-27 06:07:31,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '5.29'},88.433235,22.603748,88.430572,22.576274,9830761294,0,5,5
71,667d01ba4bc197001598b84f,Completed,2024-06-27 06:07:54,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '14.50'},88.438697,22.643102,88.355380,22.588212,8617244087,0,13,13
74,667d01d9bb15a062fe5487bd,Completed,2024-06-27 06:08:24,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '3.78'},88.459636,22.568094,88.481833,22.580758,9874554038,0,3,3
76,667d01dfbb15a062fe5487c0,Completed,2024-06-27 06:08:31,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '4.64'},88.383943,22.607868,88.373818,22.579024,9674570571,0,4,4
79,667d01ef9506bb0029896970,Completed,2024-06-27 06:08:46,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '9.25'},88.412341,22.582513,88.402864,22.513533,9123746887,0,10,10
80,667d01ef4a0ee5b075064527,Completed,2024-06-27 06:08:46,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '3.13'},88.349915,22.568136,88.346658,22.545015,8308905551,0,8,8
82,667d01f44a0ee5b075064529,Completed,2024-06-27 06:08:52,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '3.45'},88.450081,22.587036,88.467432,22.578301,9932257478,0,2,2
84,667d02014a0ee5b075064532,Completed,2024-06-27 06:09:04,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '1.58'},88.432412,22.592016,88.422742,22.586958,7551831712,0,1,1
87,667d02114bc197001598b869,Completed,2024-06-27 06:09:20,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '6.26'},88.371258,22.520512,88.350447,22.553191,9831027554,0,5,5
88,667d02134bc197001598b86d,Completed,2024-06-27 06:09:23,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '4.64'},88.322632,22.493812,88.345566,22.514824,7595947357,0,6,6
97,667d02399506bb0029896978,Completed,2024-06-27 06:10:00,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '4.83'},88.460827,22.582144,88.488278,22.589356,7003371959,0,4,4
98,667d023abb15a062fe5487e0,Completed,2024-06-27 06:10:02,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '4.41'},88.461967,22.568069,88.432516,22.577039,9167145474,0,4,4
99,667d0246bb15a062fe5487e2,Completed,2024-06-27 06:10:14,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '11.62'},88.429553,22.595293,88.352472,22.569498,9331420502,0,12,12
102,667d024a9506bb002989697c,Completed,2024-06-27 06:10:18,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '5.32'},88.465725,22.579100,88.433300,22.575138,7980193563,0,4,4
106,667d02644bc197001598b894,Completed,2024-06-27 06:10:43,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '6.35'},88.416829,22.613291,88.368894,22.589650,9331863663,0,6,6
108,667d02704bc197001598b898,Completed,2024-06-27 06:10:55,"{'currency': 'INR', 'currencySbl': '₹', 'curre...",{'distance': '9.16'},88.361177,22.541782,88.417776,22.575567,9771323578,0,9,9

In [56]:
cursor_df[cursor_df['createdBy.mobile']=='7044608313']['invoice']

2299    {'currency': 'INR', 'currencySbl': '₹', 'curre...
Name: invoice, dtype: object

In [66]:
cursor_df.loc[82]['invoice']

{'currency': 'INR',
 'currencySbl': '₹',
 'currencyAbbr': 'Suffix',
 'mileageMetrics': 'KM',
 'timeMetrics': 'Min',
 'GSTOnAppCommission': 0,
 'hotelComm': 0,
 'appComPer': 0,
 'appCom': 0,
 'appProfitLoss': -4.36,
 'masEarning': 125,
 'operatorEarning': 0,
 'dues': 0,
 'cancelationFee': 0,
 'baseFee': 125,
 'minFee': 0,
 'waitingTimeCalc': 1,
 'waitingTime': 0,
 'waitingFee': 0,
 'unLoadingTimeCalc': 0,
 'unLoadingTime': 0,
 'unLoadingFee': 0,
 'timeCalc': 8,
 'time': 9,
 'timeEstimate': 9,
 'timeFee': 0,
 'totalJobTime': 12,
 'distanceDeadHead': 0,
 'distanceTurf': 2.96,
 'distanceEstimate': 3.45,
 'distanceDriver': 2.97,
 'distanceDriverCalc': 0,
 'distanceGoogle': 2.96,
 'distanceGoogleCalc': 0,
 'distanceFinal': 3.45,
 'distanceDriverTemp': 0,
 'distanceFee': 0,
 'subTotal': 125,
 'discountType': 0,
 'discountVal': 0,
 'maxDiscount': 0,
 'discount': 0,
 'totalWithoutDiscount': 140,
 'total': 140,
 'laterBookingAdvanceFee': 0,
 'isMinFeeApplied': 0,
 'handlingFee': 0,
 'extraFeesTotal': 15,
 'totalInitalExtraFee': 15,
 'creditUsed': 0,
 'tip': 0,
 'lastDue': 0,
 'cashCollected': 140,
 'cardDeduct': 0,
 'walletTransaction': 0,
 'walletCapturedAmount': 0,
 'RewardWalletBalance': 0,
 'estimateId': '667d01ef4bc197001598b85d',
 'estimateFare': 140,
 'gstFee': 15,
 'rideFare': 125,
 'rideGST': 15,
 'subTotalFare': 125,
 'decimalTotalAmount': 0,
 'distanceRentalFinal': 0,
 'pgCommission': 0,
 'rentalTime': 0,
 'tollCurrencyCode': 'INR',
 'tollFee': 0,
 'tollUnits': 1,
 'totalWithouttowTruckfee': 125,
 'towTruckFeesTotal': 0,
 'waitingTimeAfterTrip': 0,
 'waitingTimeFeeAfterTrip': '0.00',
 'zoneFee': 0}

In [61]:
cursor_df.loc[11]['invoice']

{'currency': 'INR',
 'currencySbl': '₹',
 'currencyAbbr': 'Suffix',
 'mileageMetrics': 'KM',
 'timeMetrics': 'Min',
 'GSTOnAppCommission': 0,
 'hotelComm': 0,
 'appComPer': 0,
 'appCom': 0,
 'appProfitLoss': -6.53,
 'masEarning': 192.28,
 'operatorEarning': 0,
 'dues': 0,
 'cancelationFee': 0,
 'baseFee': 125,
 'minFee': 0,
 'waitingTimeCalc': 4,
 'waitingTime': 0,
 'waitingFee': 0,
 'unLoadingTimeCalc': 0,
 'unLoadingTime': 0,
 'unLoadingFee': 0,
 'timeCalc': 39,
 'time': 31,
 'timeEstimate': 31,
 'timeFee': 0,
 'totalJobTime': 51,
 'distanceDeadHead': 0,
 'distanceTurf': 8.71,
 'distanceEstimate': 7.99,
 'distanceDriver': 6.75,
 'distanceDriverCalc': 1.75,
 'distanceGoogle': 8.71,
 'distanceGoogleCalc': 3.71,
 'distanceFinal': 7.99,
 'distanceDriverTemp': 0,
 'distanceFee': 67.28,
 'subTotal': 192.28,
 'discountType': 0,
 'discountVal': 0,
 'maxDiscount': 0,
 'discount': 0,
 'totalWithoutDiscount': 215.31524,
 'total': 215,
 'laterBookingAdvanceFee': 0,
 'isMinFeeApplied': 0,
 'handlingFee': 0,
 'extraFeesTotal': 23.07,
 'totalInitalExtraFee': 23.069489999999995,
 'creditUsed': 0,
 'tip': 0,
 'lastDue': 0,
 'cashCollected': 215,
 'cardDeduct': 0,
 'walletTransaction': 0,
 'walletCapturedAmount': 0,
 'RewardWalletBalance': 0,
 'estimateId': '667d00774bc197001598b818',
 'estimateFare': 215,
 'gstFee': 23.07,
 'rideFare': 192.28,
 'rideGST': 23.073,
 'subTotalFare': 192.28,
 'decimalTotalAmount': 0.3480000000000132,
 'distanceRentalFinal': 0,
 'pgCommission': 0,
 'rentalTime': 0,
 'tollCurrencyCode': 'INR',
 'tollFee': 0,
 'tollUnits': 1,
 'totalWithouttowTruckfee': 192.28,
 'towTruckFeesTotal': 0,
 'waitingTimeAfterTrip': 0,
 'waitingTimeFeeAfterTrip': '0.00',
 'zoneFee': 0}