In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [53]:
ops_sheet=pd.read_excel("/Users/aayushjain/Downloads/NoHang.xlsx")

In [54]:
ops_sheet = ops_sheet.dropna(subset=['Vehicle Number'])
ops_sheet = ops_sheet.dropna(subset=['Closing KM'])

In [55]:
req_data=ops_sheet[['Vehicle Number','Closing KM']]

In [56]:
req_data

     Vehicle Number Closing KM
1         WB07K1050      62105
2         WB07K0340      81985
3         WB07K0453      70755
4         WB07K0327      81040
5         WB07K0271      76627
...             ...        ...
7323      WB07K0445      85203
7324      WB05A0223      74200
7325      WB07K0325      86321
7333      WB07K0445      85309
7339      WB07K0361      97272

[7248 rows x 2 columns]

In [57]:
req_data['Closing KM'] = pd.to_numeric(req_data['Closing KM'], errors='coerce')

latest_readings = req_data.groupby('Vehicle Number', as_index=False)['Closing KM'].max()

/var/folders/q_/dn720rf91691y39h0s_hr_280000gn/T/ipykernel_66834/2637761054.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  req_data['Closing KM'] = pd.to_numeric(req_data['Closing KM'], errors='coerce')

In [58]:
latest_readings.to_excel("HIDCO_vehicle_readings.xlsx",index=True)