In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
repair=pd.read_csv("/Users/aayushjain/codes/projects/company assignements/Snape/Vehicle Repair Dashboard/Repair Records-Grid view (2).csv")

In [3]:
service=pd.read_csv("/Users/aayushjain/codes/projects/company assignements/Snape/Vehicle Repair Dashboard/Service Record-Grid view (1).csv")

In [4]:
repair.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2398 entries, 0 to 2397
Data columns (total 55 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   SL No.                                                    2398 non-null   int64
 1   Registration Number                                       2397 non-null   object
 2   Vehicle Status (from Registration Number) 2               2397 non-null   object
 3   Model                                                     2397 non-null   object
 4   Incident Date                                             2396 non-null   object
 5   Driver Deduction Completed by Labanya                     1601 non-null   object
 6   Vehicle Hub                                               2397 non-null   object
 7   Driver ID                                                 2396 non-null   float64
 8   Driver Name                                               2385 non-null   object
 9   Driver Type                                               2032 non-null   object
 10  Driver Hub                                                0 non-null      float64
 11  Damage Type                                               2398 non-null   object
 12  Driver Penalty                                            2368 non-null   object
 13  Vehicle Photo                                             2185 non-null   object
 14  Recovery from Third Party                                 0 non-null      float64
 15  Repair Vendors                                            2191 non-null   object
 16  Date Sent                                                 2252 non-null   object
 17  Date Received                                             2263 non-null   object
 18  Received Month/Year                                       2398 non-null   object
 19  Downtime (Days)                                           2212 non-null   float64
 20  Approval Status                                           2398 non-null   object
 21  Invoice Number                                            1726 non-null   object
 22  Invoice Amount                                            1726 non-null   object
 23  Invoice                                                   1727 non-null   object
 24  Invoice Payment Status                                    2316 non-null   object
 25  Insurance DO Amount                                       23 non-null     object
 26  Traditional Insurance Claim                               1904 non-null   object
 27  Traditional Insurance Claim- Accident Details             217 non-null    object
 28  Traditional Insurance Claim Current Insurance Status      65 non-null     object
 29  Insurance Partner (from Registration Number)              2397 non-null   object
 30  Insurance Policy Number (from Registration Number)        2397 non-null   object
 31  Spot Insurance Claim                                      87 non-null     object
 32  Spot Insurance Claim Amount Settled                       14 non-null     object
 33  Spot Insurance Claim Amount Settled Attachment            13 non-null     object
 34  Our Cost                                                  2398 non-null   int64
 35  Created By                                                2398 non-null   object
 36  Created                                                   2398 non-null   object
 37  Last Modified By                                          2398 non-null   object
 38  Created Date                                              2396 non-null   float64
 39  Last Modified                                             2398 non-null   object
 40  Hub Manager Emails (from Hub) (from Registration Number)  2385 non-null   object
 41  Rejection Reason                                          29 non-null     object
 42  Sent Month/Year                                           2398 non-null   object
 43  Remarks                                                   5 non-null      object
 44  Vehicle Status (from Registration Number)                 2397 non-null   object
 45  Maintenance Remarks                                       435 non-null    object
 46  Vehicle Status (from Registration Number) 3               2397 non-null   object
 47  Field 44                                                  53 non-null     object
 48  Miscellaneous Damages Remarks                             281 non-null    object
 49  Driver Penalty rollup                                     2398 non-null   object
 50  Repair KM Reading                                         685 non-null    float64
 51  Email Subject Line                                        38 non-null     object
 52  Vehicle Status (from Registration Number) 4               2397 non-null   object
 53  Deduction Completed                                       127 non-null    float64
 54  Deduction Pending                                         2398 non-null   int64
dtypes: float64(7), int64(3), object(45)
memory usage: 1.0+ MB

In [5]:
repair.isnull().sum()

SL No.                                                         0
Registration Number                                            1
Vehicle Status (from Registration Number) 2                    1
Model                                                          1
Incident Date                                                  2
Driver Deduction Completed by Labanya                        797
Vehicle Hub                                                    1
Driver ID                                                      2
Driver Name                                                   13
Driver Type                                                  366
Driver Hub                                                  2398
Damage Type                                                    0
Driver Penalty                                                30
Vehicle Photo                                                213
Recovery from Third Party                                   2398
Repair Vendors                                               207
Date Sent                                                    146
Date Received                                                135
Received Month/Year                                            0
Downtime (Days)                                              186
Approval Status                                                0
Invoice Number                                               672
Invoice Amount                                               672
Invoice                                                      671
Invoice Payment Status                                        82
Insurance DO Amount                                         2375
Traditional Insurance Claim                                  494
Traditional Insurance Claim- Accident Details               2181
Traditional Insurance Claim Current Insurance Status        2333
Insurance Partner (from Registration Number)                   1
Insurance Policy Number (from Registration Number)             1
Spot Insurance Claim                                        2311
Spot Insurance Claim Amount Settled                         2384
Spot Insurance Claim Amount Settled Attachment              2385
Our Cost                                                       0
Created By                                                     0
Created                                                        0
Last Modified By                                               0
Created Date                                                   2
Last Modified                                                  0
Hub Manager Emails (from Hub) (from Registration Number)      13
Rejection Reason                                            2369
Sent Month/Year                                                0
Remarks                                                     2393
Vehicle Status (from Registration Number)                      1
Maintenance Remarks                                         1963
Vehicle Status (from Registration Number) 3                    1
Field 44                                                    2345
Miscellaneous Damages Remarks                               2117
Driver Penalty rollup                                          0
Repair KM Reading                                           1713
Email Subject Line                                          2360
Vehicle Status (from Registration Number) 4                    1
Deduction Completed                                         2271
Deduction Pending                                              0
dtype: int64

In [6]:
repair['Vehicle Status (from Registration Number) 2'].value_counts()

Vehicle Status (from Registration Number) 2
Running    2152
Down        245
Name: count, dtype: int64

In [7]:
repair['Model'].value_counts()

Model
Xpres-T Ziptron    1580
Xpres-T Electra     676
eC3                 141
Name: count, dtype: int64

In [8]:
driver_counts = repair['Driver Name'].value_counts()

# Step 2: Filter the names with more than 3 occurrences
drivers_name_with_more_than_5 = driver_counts[driver_counts > 5].index

In [9]:
len(drivers_name_with_more_than_5)

57

In [10]:
print(drivers_name_with_more_than_5)

Index(['INTERNAL ID ', 'NDITA HUB- Security', 'Dileep Paswan', 'Honey Maharaj',
       'Avijit Ghosh', 'HIDCO HUB- Security', 'Jagannath Dey', 'Rahul Yadav',
       'Alok Singh', 'Ansar Hussain', 'Surfil Ali Mondal', 'Abhitesh Singh',
       'Sanjay Das', 'Rajendra Kr yadav', 'Vijay Singh', 'Sk Azad ',
       'Khiderpore HUB- Security', 'Tapas Das', 'Ashok kr Yadav ',
       'Niraj Gupta', 'Md Samim Ansari', 'RAJESH MISHRA', 'Bappa Ghosh',
       'Madhumita Mondal', 'Md Amanul Haque ', 'Eman Bhattacharyya',
       'Gopal Saha ', 'M Avinash', 'Krishnendu Kundu', 'samim Reja',
       'Shamima Shamima Parveen', 'Abhijit Roy ', 'Indrajit Biswas',
       'Jhantu Das', 'Subrata Chatterjee', 'Sk Jamaluddin', 'Amit Das',
       'Shivam Yadav', 'VISHAL KUMAR SINGH', 'Amit Kumar  ', 'Priyanka Mistry',
       'Azhar Ahmed', 'Avijit Das', 'Debasish Tarafdar', 'O2 HUB- Security',
       'Pranati Pakrey', 'Afsar Ali', 'Amit Majumder', 'Bijay Kumar Kurmi',
       'SAMIR Mondal', 'Gaurav Kumar ', 'Umesh Singh', 'Sanjeev Kumar',
       'Punyadeep Basu', 'Shyamali Kayal', 'Md Sajid', 'Somnath Ray'],
      dtype='object', name='Driver Name')

In [11]:
repair['Driver Name'].nunique()

955

In [12]:
repair[repair['Driver Name']=='Madhumita Mondal']['Our Cost']

492      250
732      729
793        0
988      880
1546       0
1924     921
2132    1200
2282     500
Name: Our Cost, dtype: int64

In [13]:
repair.groupby("Vehicle Hub")['Repair Vendors'].value_counts()

Vehicle Hub  Repair Vendors
Axis         Speedy Autocare            110
             Automovill                 101
             Go Mechanic                 17
             Swift Wench Car Service     12
             My Carz Studio              11
                                       ...
Rishi Tower  Go Mechanic                  3
             My Carz Studio               1
Somponno     Swift Wench Car Service      5
             Celica Motorcorp             2
             Speedy Autocare              1
Name: count, Length: 62, dtype: int64

In [14]:
grouped_counts = repair.groupby("Vehicle Hub")['Repair Vendors'].value_counts()

# Convert the output to a string
output_str = grouped_counts.to_string()

# Specify the path to the text file
file_path = 'grouped_counts_output.txt'

# Write the output to a text file
with open(file_path, 'w') as file:
    file.write(output_str)

print(f"The output has been saved to {file_path}")

The output has been saved to grouped_counts_output.txt

In [15]:
repair["Vehicle Hub"].value_counts()

Vehicle Hub
NDITA          583
O2             517
HIDCO          431
EVRE           344
Axis           265
Khiderpore     149
Rishi Tower     76
Hyatt           20
Somponno        12
Name: count, dtype: int64

In [16]:
repair=repair[['Registration Number','Vehicle Status (from Registration Number) 2','Model','Incident Date','Vehicle Hub','Driver ID','Damage Type','Driver Penalty','Repair Vendors','Date Sent','Date Received','Downtime (Days)','Invoice Amount','Traditional Insurance Claim- Accident Details','Traditional Insurance Claim Current Insurance Status']]

In [17]:
repair.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2398 entries, 0 to 2397
Data columns (total 15 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Registration Number                                   2397 non-null   object
 1   Vehicle Status (from Registration Number) 2           2397 non-null   object
 2   Model                                                 2397 non-null   object
 3   Incident Date                                         2396 non-null   object
 4   Vehicle Hub                                           2397 non-null   object
 5   Driver ID                                             2396 non-null   float64
 6   Damage Type                                           2398 non-null   object
 7   Driver Penalty                                        2368 non-null   object
 8   Repair Vendors                                        2191 non-null   object
 9   Date Sent                                             2252 non-null   object
 10  Date Received                                         2263 non-null   object
 11  Downtime (Days)                                       2212 non-null   float64
 12  Invoice Amount                                        1726 non-null   object
 13  Traditional Insurance Claim- Accident Details         217 non-null    object
 14  Traditional Insurance Claim Current Insurance Status  65 non-null     object
dtypes: float64(2), object(13)
memory usage: 281.1+ KB

In [18]:
repair.describe()

          Driver ID  Downtime (Days)
count  2.396000e+03      2212.000000
mean   1.319862e+07         2.404611
std    4.020867e+06        17.297316
min    1.000000e+00       -31.000000
25%    1.370870e+07         0.000000
50%    1.437235e+07         0.000000
75%    1.488747e+07         0.000000
max    1.569138e+07       497.000000

In [19]:
repair['Damage Type'].value_counts()

Damage Type
Side Mirror 1 piece                                    606
No-Driver Fault- Miscellaneous Damages                 527
Major Accident with spot survey and spot photos        151
Tail Light 1 Piece                                     115
Major Accident without spot survey and spot photos     110
                                                      ...
1 Panel 1 Bumper,Dicky Lock Damage                       1
Panel 1 Piece,Dicky Lock Damage                          1
Panel 2 Piece,Headlight 1 Piece                          1
-_______-R                                               1
Headlight 1 Piece,Side Mirror 1 piece,Panel 1 Piece      1
Name: count, Length: 135, dtype: int64

In [20]:
driver_counts = repair['Driver ID'].value_counts()
drivers_with_more_than_5 = driver_counts[driver_counts > 5].index

In [21]:
drivers_with_more_than_5

Index([       9.0,        1.0, 14405440.0, 14415037.0, 14049427.0,        2.0,
       14303026.0, 14427441.0, 13330856.0, 14422376.0, 14585540.0, 14666039.0,
              4.0, 13708700.0, 13160177.0, 14175045.0, 14472863.0, 14715399.0,
       13338596.0, 14754051.0, 14186371.0, 14336506.0, 14093377.0, 14132627.0,
       14298202.0, 14306333.0, 14560421.0, 14463764.0, 14818652.0, 14310580.0,
       14385954.0, 15417445.0, 14938174.0, 13944301.0, 14913659.0, 14463090.0,
       13170606.0, 13700952.0, 13875915.0, 14231712.0, 14211192.0, 15166674.0,
       15180096.0, 13336837.0, 14372346.0, 13152077.0,        3.0, 14132282.0,
       14206335.0, 15022421.0, 14310627.0, 13418181.0, 15225838.0, 13147675.0,
       14904308.0],
      dtype='float64', name='Driver ID')

In [22]:
drivers_name_with_more_than_5

Index(['INTERNAL ID ', 'NDITA HUB- Security', 'Dileep Paswan', 'Honey Maharaj',
       'Avijit Ghosh', 'HIDCO HUB- Security', 'Jagannath Dey', 'Rahul Yadav',
       'Alok Singh', 'Ansar Hussain', 'Surfil Ali Mondal', 'Abhitesh Singh',
       'Sanjay Das', 'Rajendra Kr yadav', 'Vijay Singh', 'Sk Azad ',
       'Khiderpore HUB- Security', 'Tapas Das', 'Ashok kr Yadav ',
       'Niraj Gupta', 'Md Samim Ansari', 'RAJESH MISHRA', 'Bappa Ghosh',
       'Madhumita Mondal', 'Md Amanul Haque ', 'Eman Bhattacharyya',
       'Gopal Saha ', 'M Avinash', 'Krishnendu Kundu', 'samim Reja',
       'Shamima Shamima Parveen', 'Abhijit Roy ', 'Indrajit Biswas',
       'Jhantu Das', 'Subrata Chatterjee', 'Sk Jamaluddin', 'Amit Das',
       'Shivam Yadav', 'VISHAL KUMAR SINGH', 'Amit Kumar  ', 'Priyanka Mistry',
       'Azhar Ahmed', 'Avijit Das', 'Debasish Tarafdar', 'O2 HUB- Security',
       'Pranati Pakrey', 'Afsar Ali', 'Amit Majumder', 'Bijay Kumar Kurmi',
       'SAMIR Mondal', 'Gaurav Kumar ', 'Umesh Singh', 'Sanjeev Kumar',
       'Punyadeep Basu', 'Shyamali Kayal', 'Md Sajid', 'Somnath Ray'],
      dtype='object', name='Driver Name')

In [23]:
car_counts = repair['Registration Number'].value_counts()
car_with_more_than_6 = car_counts[car_counts > 6].index

In [24]:
repair['Registration Number'].value_counts().describe()

count    551.000000
mean       4.350272
std        2.937345
min        1.000000
25%        2.000000
50%        4.000000
75%        6.000000
max       18.000000
Name: count, dtype: float64

In [25]:
car_with_more_than_6

Index(['WB07K1175', 'WB04J0943', 'WB07K0498', 'WB05A0884', 'WB05A0934',
       'WB05A0864', 'WB07K0325', 'WB04J0949', 'WB07K1247', 'WB04J0909',
       ...
       'WB07K0251', 'WB07K1314', 'WB07K0386', 'WB05A0210', 'WB07K1275',
       'WB07K1452', 'WB05A0889', 'WB07K0320', 'WB04J2487', 'WB07K0641'],
      dtype='object', name='Registration Number', length=106)

In [26]:
repair[repair['Registration Number'].isin(car_with_more_than_6)]['Vehicle Hub'].value_counts()

Vehicle Hub
O2             299
NDITA          292
HIDCO          236
EVRE            59
Axis            48
Rishi Tower     21
Hyatt            8
Name: count, dtype: int64

In [27]:
registration_counts = repair['Registration Number'].value_counts()
car_with_more_than_6 = registration_counts[registration_counts > 6].index

filtered_repair = repair[repair['Registration Number'].isin(car_with_more_than_6)]

unique_car_counts_per_hub = filtered_repair.groupby('Vehicle Hub')['Registration Number'].nunique()

print(unique_car_counts_per_hub)

Vehicle Hub
Axis            6
EVRE            7
HIDCO          26
Hyatt           1
NDITA          32
O2             32
Rishi Tower     2
Name: Registration Number, dtype: int64

In [28]:
repair.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2398 entries, 0 to 2397
Data columns (total 15 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Registration Number                                   2397 non-null   object
 1   Vehicle Status (from Registration Number) 2           2397 non-null   object
 2   Model                                                 2397 non-null   object
 3   Incident Date                                         2396 non-null   object
 4   Vehicle Hub                                           2397 non-null   object
 5   Driver ID                                             2396 non-null   float64
 6   Damage Type                                           2398 non-null   object
 7   Driver Penalty                                        2368 non-null   object
 8   Repair Vendors                                        2191 non-null   object
 9   Date Sent                                             2252 non-null   object
 10  Date Received                                         2263 non-null   object
 11  Downtime (Days)                                       2212 non-null   float64
 12  Invoice Amount                                        1726 non-null   object
 13  Traditional Insurance Claim- Accident Details         217 non-null    object
 14  Traditional Insurance Claim Current Insurance Status  65 non-null     object
dtypes: float64(2), object(13)
memory usage: 281.1+ KB

In [29]:
repair['Downtime (Days)'].describe()

count    2212.000000
mean        2.404611
std        17.297316
min       -31.000000
25%         0.000000
50%         0.000000
75%         0.000000
max       497.000000
Name: Downtime (Days), dtype: float64

In [30]:
repair['Invoice Amount'].head()

0    ₹330359.00
1           NaN
2      ₹3691.00
3    ₹217039.00
4           NaN
Name: Invoice Amount, dtype: object

In [31]:
repair['Invoice Amount']= repair['Invoice Amount'].replace('NaN', pd.NA).str.replace('₹', '', regex=False)

In [32]:
repair['Invoice Amount'] = repair['Invoice Amount'].astype(float)

In [33]:
repair['Invoice Amount'].describe()

count      1726.000000
mean       4406.280070
std       18855.567815
min          79.000000
25%         823.925000
50%        1228.700000
75%        3760.000000
max      403002.000000
Name: Invoice Amount, dtype: float64

In [34]:
damage_cat = repair['Damage Type'].value_counts()
damage_cat_more_than_4 = damage_cat[damage_cat > 4].index
repair['Damage Type'].value_counts().describe()

count    135.000000
mean      17.762963
std       71.767162
min        1.000000
25%        1.000000
50%        1.000000
75%        4.000000
max      606.000000
Name: count, dtype: float64

In [35]:
damage_cat_more_than_4

Index(['Side Mirror 1 piece', 'No-Driver Fault- Miscellaneous Damages',
       'Major Accident with spot survey and spot photos', 'Tail Light 1 Piece',
       'Major Accident without spot survey and spot photos',
       'Headlight 1 Piece', 'Panel 1 Piece', '1 Bumper', 'Dicky Lock Damage',
       'Panel 2 Piece', 'Driver Fault- Miscellaneous Damages', 'Tyre Damage',
       '1 Panel 1 Bumper', 'Refresh look', '1 Headlight with Bumper',
       'Horn Not Working ', 'Headlight Blub issue', 'Auxiliary battery ',
       'Tail Light 2 Piece', 'Headlight 1 Piece,Panel 1 Piece',
       'Front Windshield Damage', 'Number plate Missing ', 'Panel 3 Piece',
       'Side Mirror 2 piece', '2 Panel 1 Bumper', 'Suspension Damage',
       'Side Mirror 1 piece,Panel 1 Piece', 'Wiper Bled ', '-__- ',
       '1 Headlight with Bumper,Panel 1 Piece', 'Window Glass Damage',
       '1 Tail Light with Bumper'],
      dtype='object', name='Damage Type')

In [36]:
repair_all=pd.read_csv("/Users/aayushjain/codes/projects/company assignements/Snape/Vehicle Repair Dashboard/Repair Records-Grid view (2).csv")

In [37]:
repair_all['Model'].value_counts()

Model
Xpres-T Ziptron    1580
Xpres-T Electra     676
eC3                 141
Name: count, dtype: int64

In [38]:
repair_all.groupby("Registration Number")[repair_all['Damage Type']=='Side Mirror 1 piece']

KeyError: 'Columns not found: False, True'

In [39]:

filtered_data = repair_all[repair_all['Damage Type'] == 'Side Mirror 1 piece']

count_per_registration = filtered_data.groupby('Registration Number').size().reset_index(name='count')

count_per_registration = count_per_registration.sort_values(by='count', ascending=False)

In [40]:
count_per_registration.head(20)

    Registration Number  count
116           WB05A0869      6
18            WB04J2178      6
303           WB07K1314      5
49            WB04J2487      5
294           WB07K1247      5
300           WB07K1275      5
186           WB07K0325      5
8             WB04J0949      5
187           WB07K0326      5
124           WB05A0889      5
143           WB05A0948      5
245           WB07K0649      4
199           WB07K0433      4
31            WB04J2284      4
75            WB05A0157      4
171           WB07K0262      4
242           WB07K0637      4
287           WB07K1228      4
1             WB04J0909      4
280           WB07K1204      4

per driver - amount spent up till now. Number of major accidents, no of minor accidents and downtime dure to driver

In [41]:
repair_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2398 entries, 0 to 2397
Data columns (total 55 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   SL No.                                                    2398 non-null   int64
 1   Registration Number                                       2397 non-null   object
 2   Vehicle Status (from Registration Number) 2               2397 non-null   object
 3   Model                                                     2397 non-null   object
 4   Incident Date                                             2396 non-null   object
 5   Driver Deduction Completed by Labanya                     1601 non-null   object
 6   Vehicle Hub                                               2397 non-null   object
 7   Driver ID                                                 2396 non-null   float64
 8   Driver Name                                               2385 non-null   object
 9   Driver Type                                               2032 non-null   object
 10  Driver Hub                                                0 non-null      float64
 11  Damage Type                                               2398 non-null   object
 12  Driver Penalty                                            2368 non-null   object
 13  Vehicle Photo                                             2185 non-null   object
 14  Recovery from Third Party                                 0 non-null      float64
 15  Repair Vendors                                            2191 non-null   object
 16  Date Sent                                                 2252 non-null   object
 17  Date Received                                             2263 non-null   object
 18  Received Month/Year                                       2398 non-null   object
 19  Downtime (Days)                                           2212 non-null   float64
 20  Approval Status                                           2398 non-null   object
 21  Invoice Number                                            1726 non-null   object
 22  Invoice Amount                                            1726 non-null   object
 23  Invoice                                                   1727 non-null   object
 24  Invoice Payment Status                                    2316 non-null   object
 25  Insurance DO Amount                                       23 non-null     object
 26  Traditional Insurance Claim                               1904 non-null   object
 27  Traditional Insurance Claim- Accident Details             217 non-null    object
 28  Traditional Insurance Claim Current Insurance Status      65 non-null     object
 29  Insurance Partner (from Registration Number)              2397 non-null   object
 30  Insurance Policy Number (from Registration Number)        2397 non-null   object
 31  Spot Insurance Claim                                      87 non-null     object
 32  Spot Insurance Claim Amount Settled                       14 non-null     object
 33  Spot Insurance Claim Amount Settled Attachment            13 non-null     object
 34  Our Cost                                                  2398 non-null   int64
 35  Created By                                                2398 non-null   object
 36  Created                                                   2398 non-null   object
 37  Last Modified By                                          2398 non-null   object
 38  Created Date                                              2396 non-null   float64
 39  Last Modified                                             2398 non-null   object
 40  Hub Manager Emails (from Hub) (from Registration Number)  2385 non-null   object
 41  Rejection Reason                                          29 non-null     object
 42  Sent Month/Year                                           2398 non-null   object
 43  Remarks                                                   5 non-null      object
 44  Vehicle Status (from Registration Number)                 2397 non-null   object
 45  Maintenance Remarks                                       435 non-null    object
 46  Vehicle Status (from Registration Number) 3               2397 non-null   object
 47  Field 44                                                  53 non-null     object
 48  Miscellaneous Damages Remarks                             281 non-null    object
 49  Driver Penalty rollup                                     2398 non-null   object
 50  Repair KM Reading                                         685 non-null    float64
 51  Email Subject Line                                        38 non-null     object
 52  Vehicle Status (from Registration Number) 4               2397 non-null   object
 53  Deduction Completed                                       127 non-null    float64
 54  Deduction Pending                                         2398 non-null   int64
dtypes: float64(7), int64(3), object(45)
memory usage: 1.0+ MB

avg span.- groupby driver id, and diff between dates.

In [42]:
repair_req=repair_all[['Driver ID','Invoice Amount','Downtime (Days)','Damage Type','Repair Vendors','Our Cost','Incident Date']]

In [43]:
repair_req['Damage Type'].value_counts()

Damage Type
Side Mirror 1 piece                                    606
No-Driver Fault- Miscellaneous Damages                 527
Major Accident with spot survey and spot photos        151
Tail Light 1 Piece                                     115
Major Accident without spot survey and spot photos     110
                                                      ...
1 Panel 1 Bumper,Dicky Lock Damage                       1
Panel 1 Piece,Dicky Lock Damage                          1
Panel 2 Piece,Headlight 1 Piece                          1
-_______-R                                               1
Headlight 1 Piece,Side Mirror 1 piece,Panel 1 Piece      1
Name: count, Length: 135, dtype: int64

In [44]:
# Get the value counts
damage_type_counts = repair_req['Damage Type'].value_counts()

# Define the file path
file_path = "damage_type_counts.txt"

# Save the value counts to a text file
with open(file_path, 'w') as file:
    file.write(damage_type_counts.to_string())

In [45]:
def classify_damage_type(damage_type):
    if 'major' in damage_type.lower():
        return 'Major'
    else:
        return 'Minor'

# Apply the function to create a new column 'Classification'
repair_req['Classification'] = repair_req['Damage Type'].apply(classify_damage_type)

/var/folders/q_/dn720rf91691y39h0s_hr_280000gn/T/ipykernel_47908/2961373458.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  repair_req['Classification'] = repair_req['Damage Type'].apply(classify_damage_type)

In [46]:
repair_req['Classification'].value_counts()

Classification
Minor    2131
Major     267
Name: count, dtype: int64

In [47]:
repair_req.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2398 entries, 0 to 2397
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Driver ID        2396 non-null   float64
 1   Invoice Amount   1726 non-null   object
 2   Downtime (Days)  2212 non-null   float64
 3   Damage Type      2398 non-null   object
 4   Repair Vendors   2191 non-null   object
 5   Our Cost         2398 non-null   int64
 6   Incident Date    2396 non-null   object
 7   Classification   2398 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 150.0+ KB

In [48]:
repair_req['Downtime (Days)'].describe()

count    2212.000000
mean        2.404611
std        17.297316
min       -31.000000
25%         0.000000
50%         0.000000
75%         0.000000
max       497.000000
Name: Downtime (Days), dtype: float64

In [49]:
file_path = 'repair_data.xlsx'

# Write the DataFrame to an Excel file
repair_req.to_excel(file_path, index=True)

print("DataFrame successfully saved to Excel file:", file_path)

DataFrame successfully saved to Excel file: repair_data.xlsx

In [50]:
import numpy as np

# Grouping the data by 'Driver ID'
grouped = repair_req.groupby('Driver ID')

# Define custom aggregation functions
agg_functions = {
    'Invoice Amount': 'sum',
    'Downtime (Days)': 'sum',
    'Damage Type': lambda x: (x.str.lower().str.contains('major')).sum(),
    'Our Cost': 'sum',
    'Incident Date': ['first', 'last', 'count']
}

# Apply the aggregation functions to the grouped data
result = grouped.agg(agg_functions)

# Rename the columns for better readability
result.columns = ['Total Invoice Amount', 
                  'Total Downtime (Days)', 
                  'Count of Major Damage Types', 
                  'Total Our Cost', 
                  'First Incident Date', 
                  'Last Incident Date', 
                  'Number of Incidents']

# Calculate average span between two accidents

# Display the result
print(result)

                                         Total Invoice Amount  \
Driver ID
1.0         ₹7540.70₹1228.70₹1228.70₹2014.00₹240.00₹1228.7...
2.0         ₹6313.40₹1228.70₹4140.70₹2140.70₹4140.70₹2640....
3.0                   ₹1000.00₹123049.00₹190.00₹878.40₹650.00
4.0         ₹1228.70₹1228.70₹1228.70₹1228.70₹15152.80₹1200...
9.0         ₹1228.70₹3828.70₹2600.00₹6740.70₹177.00₹176.70...
...                                                       ...
15593448.0                                           ₹3000.00
15607479.0                                                  0
15614944.0                                                  0
15621989.0                                                  0
15691382.0                                                  0

            Total Downtime (Days)  Count of Major Damage Types  \
Driver ID
1.0                         147.0                            1
2.0                         181.0                            2
3.0                          76.0                            1
4.0                          97.0                            3
9.0                          89.0                            3
...                           ...                          ...
15593448.0                    0.0                            1
15607479.0                    0.0                            0
15614944.0                    0.0                            0
15621989.0                    0.0                            0
15691382.0                    0.0                            0

            Total Our Cost First Incident Date Last Incident Date  \
Driver ID
1.0                  82883            3/8/2023          30/1/2024
2.0                  32925           15/3/2023          22/3/2024
3.0                 119567            2/8/2023          17/3/2024
4.0                  27148           27/7/2023          22/3/2024
9.0                 272792           26/7/2023           4/5/2024
...                    ...                 ...                ...
15593448.0           -2000           30/4/2024          30/4/2024
15607479.0            -500           10/5/2024          10/5/2024
15614944.0            -500           21/5/2024          21/5/2024
15621989.0               0           10/5/2024          10/5/2024
15691382.0            -700           17/5/2024          17/5/2024

            Number of Incidents
Driver ID
1.0                          57
2.0                          34
3.0                           6
4.0                          10
9.0                          90
...                         ...
15593448.0                    2
15607479.0                    1
15614944.0                    1
15621989.0                    1
15691382.0                    1

[979 rows x 7 columns]

In [51]:
# Specify the file path where you want to save the Excel file
file_path = 'result.xlsx'

# Write the DataFrame to an Excel file
result.to_excel(file_path, index=True)

print("DataFrame successfully saved to Excel file:", file_path)

DataFrame successfully saved to Excel file: result.xlsx

In [52]:
result['Average Span Between Accidents'] = (result['Last Incident Date'] - result['First Incident Date']).dt.days / (result['Number of Incidents'] - 1)

# Drop the 'Last Incident Date' column as it's no longer needed
result.drop('Last Incident Date', axis=1, inplace=True)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
service.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2337 entries, 0 to 2336
Data columns (total 30 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   SL No.                                                    2337 non-null   int64
 1   Registration Number                                       2335 non-null   object
 2   Delivery Date (from Registration Number)                  2335 non-null   object
 3   Current Vehicle Age in Months                             2335 non-null   float64
 4   Model                                                     2335 non-null   object
 5   Hub                                                       2335 non-null   object
 6   Date Sent                                                 2289 non-null   object
 7   Date Received                                             2265 non-null   object
 8   Received Month/Year                                       2337 non-null   object
 9   Vehicle Age At Service Time                               2288 non-null   float64
 10  Downtime                                                  2253 non-null   float64
 11  Service Vendors                                           2290 non-null   object
 12  Service Type                                              2335 non-null   object
 13  Other's Data                                              909 non-null    object
 14  Approval Status                                           2337 non-null   object
 15  Invoice Number                                            1606 non-null   object
 16  Invoice Amount                                            1606 non-null   object
 17  Invoice                                                   1600 non-null   object
 18  Invoice Payment Status                                    2336 non-null   object
 19  Created By                                                2337 non-null   object
 20  Created                                                   2337 non-null   object
 21  Last Modified By                                          2337 non-null   object
 22  Last Modified                                             2337 non-null   object
 23  Hub Manager Emails (from Hub) (from Registration Number)  2299 non-null   object
 24  Rejection Reason                                          61 non-null     object
 25  Sent Month/Year                                           2337 non-null   object
 26  Maintenance Remarks                                       971 non-null    object
 27  Service KM Reading                                        882 non-null    float64
 28  Vehicle Status (from Registration Number)                 2335 non-null   object
 29  Record ID                                                 2337 non-null   object
dtypes: float64(4), int64(1), object(25)
memory usage: 547.9+ KB

In [ ]:
service[service['Registration Number']=='WB04J0909'][['Service Vendors','Service Type']]

               Service Vendors           Service Type
80    TC Motors Foreshore Road                  Other
1087                 Dulichand  Air Conditioner Issue
1487                 Dulichand                  Other
1505                 Dulichand  Air Conditioner Issue
1917                 Dulichand  Air Conditioner Issue
2119           Speedy Autocare  Air Conditioner Issue
2148  TC Motors Foreshore Road  Air Conditioner Issue

In [53]:
import pandas as pd
from datetime import datetime

# Convert the rupee symbol and commas to float values
result['Total Invoice Amount'] = result['Total Invoice Amount'].str.replace(',', '').str.replace('₹', '').astype(float)

# Convert 'First Incident Date' and 'Last Incident Date' columns to datetime
result['First Incident Date'] = pd.to_datetime(result['First Incident Date'])
result['Last Incident Date'] = pd.to_datetime(result['Last Incident Date'])

# Calculate the span between first and last incidents in days
result['Span Between Incidents'] = (result['Last Incident Date'] - result['First Incident Date']).dt.days

# Calculate the average span between incidents for each driver
avg_span = result.groupby('Driver ID')['Span Between Incidents'].mean().reset_index()

# Calculate the total invoice amount sum
total_invoice_amount = result['Total Invoice Amount'].sum()

print('Average Span Between Incidents:')
print(avg_span)

print(f'\nTotal Invoice Amount Sum: {total_invoice_amount}')

ValueError: could not convert string to float: '7540.701228.701228.702014.00240.001228.701228.701228.703088.701228.701228.706281.401228.701228.707510.101228.70328.00103595.001041.70118.001062.001015.001015.001015.003361.80500.001200.001015.001015.002000.001600.001015.00371.10613.40503.701228.701204.001959.002999.001015.001015.00480.001015.004172.70300.002014.00176.001959.00880.00400.002500.00'

In [56]:
result

,Total Invoice Amount,Total Downtime (Days),Count of Major Damage Types,Total Our Cost,First Incident Date,Last Incident Date,Number of Incidents
Driver ID,,,,,,,
1.0,7540.7,147.0,1,82883,3/8/2023,30/1/2024,57
2.0,6313.4,181.0,2,32925,15/3/2023,22/3/2024,34
3.0,1000.0,76.0,1,119567,2/8/2023,17/3/2024,6
4.0,1228.7,97.0,3,27148,27/7/2023,22/3/2024,10
9.0,1228.7,89.0,3,272792,26/7/2023,4/5/2024,90
...,...,...,...,...,...,...,...
15593448.0,3000.0,0.0,1,-2000,30/4/2024,30/4/2024,2
15607479.0,NaN,0.0,0,-500,10/5/2024,10/5/2024,1
15614944.0,NaN,0.0,0,-500,21/5/2024,21/5/2024,1
15621989.0,NaN,0.0,0,0,10/5/2024,10/5/2024,1
15691382.0,NaN,0.0,0,-700,17/5/2024,17/5/2024,1

In [58]:
result.to_excel("drive_wise_average.xlsx",index=True)