In [25]:
import pandas as pd
from pymongo import MongoClient
from urllib.parse import quote_plus
from datetime import datetime, timedelta
import certifi

ca_cert_bundle = certifi.where()

username = 'ML_Snape'
password = 'Learn@2024'
encoded_password = quote_plus(password)

connection_string = f'mongodb+srv://{username}:{encoded_password}@snapeeapp.3rtq6.mongodb.net/?retryWrites=true&w=majority&appName=snapeeApp&tlsCAFile={ca_cert_bundle}'

client = MongoClient(connection_string)
db = client['snapee']
collection = db['customer']

current_datetime = datetime.now()
prev_25_hours_utc = current_datetime - timedelta(hours=250)

projection = {
    'userId': 1,
    'number': 1,
    'registrationDateIso':1
}
# Limiting to 1000 documents
cursor = collection.find({},projection)
cursor_list = list(cursor)

# Check if cursor_list is not empty
if cursor_list:
    # Convert the cursor to a pandas DataFrame
    cancelled_df = pd.DataFrame(cursor_list)
    
    print(cancelled_df)
else:
    print("No data found.")

client.close()

                             _id                    userId      number  \
0       65294035a63f2b000d99fd08  65294035a63f2b000d99fd08  7878787801
1       652d1cc6e2b96600148f1c25  652d1cc6e2b96600148f1c25  8469645954
2       652d1effe2b96600148f1c29  652d1effe2b96600148f1c29  7878780001
3       65311515a63f2b000d99fd61  65311515a63f2b000d99fd61  9898980001
4       65325e5ee2b96600148f1c9d  65325e5ee2b96600148f1c9d  9898980002
...                          ...                       ...         ...
609546  6687c69b9b4d3b09986c55de  6687c69b9b4d3b09986c55de  9654235047
609547  6687c6a79b4d3ba0e36c55ef  6687c6a79b4d3ba0e36c55ef  9899358984
609548  6687c6bf9b4d3be5066c5610  6687c6bf9b4d3be5066c5610  9830821723
609549  6687c79d9b4d3b108c6c56d0  6687c79d9b4d3b108c6c56d0  9073831551
609550  6687c7db9b4d3ba1716c5707  6687c7db9b4d3ba1716c5707  8866539919

           registrationDateIso
0      2023-10-13 13:03:50.459
1      2024-02-26 06:37:26.737
2      2023-10-16 11:31:11.984
3      2023-10-19 11:37:58.959
4      2023-10-20 11:02:55.726
...                        ...
609546 2024-07-05 10:10:37.093
609547 2024-07-05 10:10:48.315
609548 2024-07-05 10:11:13.046
609549 2024-07-05 10:14:54.793
609550 2024-07-05 10:15:56.344

[609551 rows x 4 columns]

In [26]:
cancelled_df['number'].nunique()

609351

In [27]:
listOfCustomer=cancelled_df['number']

In [28]:
listOfCustomer

0         7878787801
1         8469645954
2         7878780001
3         9898980001
4         9898980002
             ...
609546    9654235047
609547    9899358984
609548    9830821723
609549    9073831551
609550    8866539919
Name: number, Length: 609551, dtype: object

In [29]:
import pandas as pd
from pymongo import MongoClient
from urllib.parse import quote_plus
from datetime import datetime, timedelta

import certifi

ca_cert_bundle = certifi.where()  


username = 'ML_Snape'
password = 'Learn@2024'
encoded_password = quote_plus(password)
connection_string = f'mongodb+srv://{username}:{encoded_password}@snapeeapp.3rtq6.mongodb.net/?retryWrites=true&w=majority&appName=snapeeApp&tlsCAFile={ca_cert_bundle}'

'''
connection_string=f'mongodb+srv://ML_Snape:Learn@2024@snapeeapp.3rtq6.mongodb.net/?retryWrites=true&w=majority&appName=snapeeApp&tlsCAFile={ca_cert_bundle}'
'''


client = MongoClient(connection_string)
db = client['snapee']
collection = db['bookings_rides']

current_datetime = datetime.now()
current_datetime_utc = current_datetime 
prev_25_hours_utc = current_datetime_utc - timedelta(hours=250)

# Query and projection
query = {
    'createdDate': {
        '$gte': prev_25_hours_utc,
        '$lte': current_datetime_utc
    }
}
projection = {
    'createdBy.mobile':1,
    'bookingStatusText':1
}

# Execute the query and fetch the data
cursor = collection.find({}, projection)
cursor_list = list(cursor)

# Check if cursor_list is not empty
if cursor_list:
    # Convert the cursor to a pandas DataFrame
    rideDetails = pd.DataFrame(cursor_list)
    print(rideDetails)
else:
    print("No data found.")

client.close()

                             _id              bookingStatusText  \
0       652d117c41407c00155378e8                        Expired
1       652d3c0e98e82a00169035ce                      Completed
2       652d3c1b98e82a00169035d5                        Expired
3       652e44d398e82a00169035d8  Request Cancelled By Customer
4       652e459341407c00155378fe  Request Cancelled By Customer
...                          ...                            ...
592480  6687c807740eda001ede6202                            New
592481  6687c809e85f6e0024b92987                            New
592482  6687c80ae85f6e0024b92989                       Accepted
592483  6687c80ae85f6e0024b9298a                            New
592484  6687c80b86ca24adc1ae7495                            New

                       createdBy
0       {'mobile': '8460905553'}
1       {'mobile': '8460905553'}
2       {'mobile': '8460905553'}
3       {'mobile': '8460905553'}
4       {'mobile': '8460905553'}
...                          ...
592480  {'mobile': '9386313136'}
592481  {'mobile': '9123839441'}
592482  {'mobile': '9831145325'}
592483  {'mobile': '8972530347'}
592484  {'mobile': '8240320046'}

[592485 rows x 3 columns]

In [74]:
rideDetails['MobileNumber'].nunique()

104587

In [30]:
def extract_mobile(row):
        if pd.notna(row['createdBy']) and isinstance(row['createdBy'], dict) and 'mobile' in row['createdBy']:
            return str(row['createdBy']['mobile'])
        else:
            return None
    
    # Apply the function to create 'MobileNumber' column
rideDetails['MobileNumber'] = rideDetails.apply(extract_mobile, axis=1)

In [31]:
rideDetails[rideDetails['bookingStatusText']=='Completed']['MobileNumber'].nunique()

71851

In [52]:
rideDetailsTaken=rideDetails[rideDetails['bookingStatusText']=='Completed']

In [32]:
listOfCustomerRideTaken=rideDetails[rideDetails['bookingStatusText']=='Completed']['MobileNumber']

In [35]:
listOfCustomer.nunique()

609351

In [38]:
listOfCustomerRideTaken

1         8460905553
7         8460905553
8         8460905553
9         8460905553
10        8460905553
             ...
592176    9030997723
592205    9886101255
592209    7003971488
592221    7319527339
592253    9883929211
Name: MobileNumber, Length: 224727, dtype: object

In [43]:
listOfCustomer.info()

<class 'pandas.core.series.Series'>
RangeIndex: 609551 entries, 0 to 609550
Series name: number
Non-Null Count   Dtype
--------------   -----
609420 non-null  object
dtypes: object(1)
memory usage: 4.7+ MB

In [36]:
listOfCustomerRideTaken.nunique()

71851

In [53]:
import pandas as pd

# Example DataFrames (replace with your actual DataFrames)
df1 = pd.DataFrame({'listOfCustomer': [1, 2, 3, 4, 5]})
df2 = pd.DataFrame({'listOfCustomerRideTaken': [2, 4, 6]})

# Find numbers in df1['listOfCustomer'] that are not in df2['listOfCustomerRideTaken']
result = cancelled_df[~cancelled_df['number'].isin(rideDetailsTaken['MobileNumber'])]

# Display the result DataFrame
print(result)

                             _id                    userId      number  \
2       652d1effe2b96600148f1c29  652d1effe2b96600148f1c29  7878780001
6       6538c22a1683e1000db5707e  6538c22a1683e1000db5707e  9898980004
8       653a5952e982310013ca5520  653a5952e982310013ca5520  7557535453
13      65671a8527308f00148f245d  65671a8527308f00148f245d         NaN
16      65784257ad2801000f577b99  65784257ad2801000f577b99         NaN
...                          ...                       ...         ...
609546  6687c69b9b4d3b09986c55de  6687c69b9b4d3b09986c55de  9654235047
609547  6687c6a79b4d3ba0e36c55ef  6687c6a79b4d3ba0e36c55ef  9899358984
609548  6687c6bf9b4d3be5066c5610  6687c6bf9b4d3be5066c5610  9830821723
609549  6687c79d9b4d3b108c6c56d0  6687c79d9b4d3b108c6c56d0  9073831551
609550  6687c7db9b4d3ba1716c5707  6687c7db9b4d3ba1716c5707  8866539919

           registrationDateIso
2      2023-10-16 11:31:11.984
6      2023-10-25 07:22:18.817
8      2024-02-13 13:00:40.630
13     2023-11-29 11:03:33.079
16     2023-12-12 11:21:59.718
...                        ...
609546 2024-07-05 10:10:37.093
609547 2024-07-05 10:10:48.315
609548 2024-07-05 10:11:13.046
609549 2024-07-05 10:14:54.793
609550 2024-07-05 10:15:56.344

[537738 rows x 4 columns]

In [54]:
result.dropna(inplace=True)

/var/folders/q_/dn720rf91691y39h0s_hr_280000gn/T/ipykernel_43608/2251008507.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result.dropna(inplace=True)

In [55]:
result

,_id,userId,number,registrationDateIso
2,652d1effe2b96600148f1c29,652d1effe2b96600148f1c29,7878780001,2023-10-16 11:31:11.984
6,6538c22a1683e1000db5707e,6538c22a1683e1000db5707e,9898980004,2023-10-25 07:22:18.817
8,653a5952e982310013ca5520,653a5952e982310013ca5520,7557535453,2024-02-13 13:00:40.630
17,657aba6d32750900147930f4,657aba6d32750900147930f4,8520852085,2024-02-16 10:37:38.594
18,657ad5dbf6ebd400130bd67e,657ad5dbf6ebd400130bd67e,8754636989,2023-12-14 10:15:56.213
...,...,...,...,...
609546,6687c69b9b4d3b09986c55de,6687c69b9b4d3b09986c55de,9654235047,2024-07-05 10:10:37.093
609547,6687c6a79b4d3ba0e36c55ef,6687c6a79b4d3ba0e36c55ef,9899358984,2024-07-05 10:10:48.315
609548,6687c6bf9b4d3be5066c5610,6687c6bf9b4d3be5066c5610,9830821723,2024-07-05 10:11:13.046
609549,6687c79d9b4d3b108c6c56d0,6687c79d9b4d3b108c6c56d0,9073831551,2024-07-05 10:14:54.793
609550,6687c7db9b4d3ba1716c5707,6687c7db9b4d3ba1716c5707,8866539919,2024-07-05 10:15:56.344

In [57]:
import pandas as pd

fullDetailsRideTaken = cancelled_df[cancelled_df['number'].isin(rideDetailsTaken['MobileNumber'])]

# Display the result DataFrame
print(fullDetailsRideTaken)

                             _id                    userId      number  \
0       65294035a63f2b000d99fd08  65294035a63f2b000d99fd08  7878787801
1       652d1cc6e2b96600148f1c25  652d1cc6e2b96600148f1c25  8469645954
3       65311515a63f2b000d99fd61  65311515a63f2b000d99fd61  9898980001
4       65325e5ee2b96600148f1c9d  65325e5ee2b96600148f1c9d  9898980002
5       6538c0d5a63f2b000d99fde7  6538c0d5a63f2b000d99fde7  9898980003
...                          ...                       ...         ...
609503  6687b4699b4d3bef9c6c4505  6687b4699b4d3bef9c6c4505  7980976243
609515  6687b9ab9b4d3b42026c49f4  6687b9ab9b4d3b42026c49f4  9680540686
609522  6687bc269b4d3b6bb06c4c37  6687bc269b4d3b6bb06c4c37  9830514065
609524  6687bd479b4d3b72146c4d28  6687bd479b4d3b72146c4d28  8582939165
609536  6687c1709b4d3b3b846c5158  6687c1709b4d3b3b846c5158  9030997723

           registrationDateIso
0      2023-10-13 13:03:50.459
1      2024-02-26 06:37:26.737
3      2023-10-19 11:37:58.959
4      2023-10-20 11:02:55.726
5      2023-10-25 07:16:38.853
...                        ...
609503 2024-07-05 08:52:57.670
609515 2024-07-05 09:15:25.557
609522 2024-07-05 09:25:59.816
609524 2024-07-05 09:30:48.660
609536 2024-07-05 09:48:32.932

[71813 rows x 4 columns]

In [59]:
fullDetailsRideTaken['date']=fullDetailsRideTaken['registrationDateIso'].dt.date

/var/folders/q_/dn720rf91691y39h0s_hr_280000gn/T/ipykernel_43608/3389285889.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fullDetailsRideTaken['date']=fullDetailsRideTaken['registrationDateIso'].dt.date

In [61]:
from datetime import date
start = date(2024, 5, 20)

data = fullDetailsRideTaken[(fullDetailsRideTaken['date'] >= start)]

In [62]:
data

,_id,userId,number,registrationDateIso,date
18672,65fbca6398d0cf683b8ad37a,65fbca6398d0cf683b8ad37a,8298507417,2024-05-24 17:12:36.719,2024-05-24
29424,65fbceea98d0cf683b8b2780,65fbceea98d0cf683b8b2780,8420005821,2024-05-21 15:16:47.901,2024-05-21
45215,65fbd4c298d0cf683b8ba2e2,65fbd4c298d0cf683b8ba2e2,9830513831,2024-06-30 15:11:33.903,2024-06-30
47009,65fbd56798d0cf683b8bb0e6,65fbd56798d0cf683b8bb0e6,8789209040,2024-06-05 07:45:27.752,2024-06-05
85466,65fbe51098d0cf683b8cdd66,65fbe51098d0cf683b8cdd66,9674969804,2024-06-24 14:44:37.862,2024-06-24
...,...,...,...,...,...
609503,6687b4699b4d3bef9c6c4505,6687b4699b4d3bef9c6c4505,7980976243,2024-07-05 08:52:57.670,2024-07-05
609515,6687b9ab9b4d3b42026c49f4,6687b9ab9b4d3b42026c49f4,9680540686,2024-07-05 09:15:25.557,2024-07-05
609522,6687bc269b4d3b6bb06c4c37,6687bc269b4d3b6bb06c4c37,9830514065,2024-07-05 09:25:59.816,2024-07-05
609524,6687bd479b4d3b72146c4d28,6687bd479b4d3b72146c4d28,8582939165,2024-07-05 09:30:48.660,2024-07-05
609536,6687c1709b4d3b3b846c5158,6687c1709b4d3b3b846c5158,9030997723,2024-07-05 09:48:32.932,2024-07-05

In [64]:
cancelled_df['date']=cancelled_df['registrationDateIso'].dt.date

In [77]:
data_before21stMay = cancelled_df[(cancelled_df['date'] <= start)]

In [78]:
data_before21stMay

,_id,userId,number,registrationDateIso,date
0,65294035a63f2b000d99fd08,65294035a63f2b000d99fd08,7878787801,2023-10-13 13:03:50.459,2023-10-13
1,652d1cc6e2b96600148f1c25,652d1cc6e2b96600148f1c25,8469645954,2024-02-26 06:37:26.737,2024-02-26
2,652d1effe2b96600148f1c29,652d1effe2b96600148f1c29,7878780001,2023-10-16 11:31:11.984,2023-10-16
3,65311515a63f2b000d99fd61,65311515a63f2b000d99fd61,9898980001,2023-10-19 11:37:58.959,2023-10-19
4,65325e5ee2b96600148f1c9d,65325e5ee2b96600148f1c9d,9898980002,2023-10-20 11:02:55.726,2023-10-20
...,...,...,...,...,...
564650,664be123d64b23ce3c50c06b,664be123d64b23ce3c50c06b,9324087461,2024-05-20 23:47:47.937,2024-05-20
564651,664be13fd64b2355cf50c081,664be13fd64b2355cf50c081,9038067797,2024-05-20 23:48:16.393,2024-05-20
564652,664be189d64b234b0150c0bf,664be189d64b234b0150c0bf,7980757390,2024-05-20 23:49:30.506,2024-05-20
564653,664be220d64b23026250c146,664be220d64b23026250c146,9836024072,2024-05-20 23:52:01.893,2024-05-20
564654,664be363d64b23136450c242,664be363d64b23136450c242,9903219712,2024-05-20 23:57:24.745,2024-05-20

In [79]:
data_before21stMay

,_id,userId,number,registrationDateIso,date
0,65294035a63f2b000d99fd08,65294035a63f2b000d99fd08,7878787801,2023-10-13 13:03:50.459,2023-10-13
1,652d1cc6e2b96600148f1c25,652d1cc6e2b96600148f1c25,8469645954,2024-02-26 06:37:26.737,2024-02-26
2,652d1effe2b96600148f1c29,652d1effe2b96600148f1c29,7878780001,2023-10-16 11:31:11.984,2023-10-16
3,65311515a63f2b000d99fd61,65311515a63f2b000d99fd61,9898980001,2023-10-19 11:37:58.959,2023-10-19
4,65325e5ee2b96600148f1c9d,65325e5ee2b96600148f1c9d,9898980002,2023-10-20 11:02:55.726,2023-10-20
...,...,...,...,...,...
564650,664be123d64b23ce3c50c06b,664be123d64b23ce3c50c06b,9324087461,2024-05-20 23:47:47.937,2024-05-20
564651,664be13fd64b2355cf50c081,664be13fd64b2355cf50c081,9038067797,2024-05-20 23:48:16.393,2024-05-20
564652,664be189d64b234b0150c0bf,664be189d64b234b0150c0bf,7980757390,2024-05-20 23:49:30.506,2024-05-20
564653,664be220d64b23026250c146,664be220d64b23026250c146,9836024072,2024-05-20 23:52:01.893,2024-05-20
564654,664be363d64b23136450c242,664be363d64b23136450c242,9903219712,2024-05-20 23:57:24.745,2024-05-20

In [71]:
data_before21stMay

,_id,userId,number,registrationDateIso,date
0,65294035a63f2b000d99fd08,65294035a63f2b000d99fd08,7878787801,2023-10-13 13:03:50.459,2023-10-13
1,652d1cc6e2b96600148f1c25,652d1cc6e2b96600148f1c25,8469645954,2024-02-26 06:37:26.737,2024-02-26
3,65311515a63f2b000d99fd61,65311515a63f2b000d99fd61,9898980001,2023-10-19 11:37:58.959,2023-10-19
4,65325e5ee2b96600148f1c9d,65325e5ee2b96600148f1c9d,9898980002,2023-10-20 11:02:55.726,2023-10-20
5,6538c0d5a63f2b000d99fde7,6538c0d5a63f2b000d99fde7,9898980003,2023-10-25 07:16:38.853,2023-10-25
...,...,...,...,...,...
564648,664be0d7d64b2325ed50c02f,664be0d7d64b2325ed50c02f,9830078251,2024-05-20 23:46:32.480,2024-05-20
564649,664be0fcd64b238c0050c04c,664be0fcd64b238c0050c04c,9980233800,2024-05-20 23:47:08.673,2024-05-20
564651,664be13fd64b2355cf50c081,664be13fd64b2355cf50c081,9038067797,2024-05-20 23:48:16.393,2024-05-20
564653,664be220d64b23026250c146,664be220d64b23026250c146,9836024072,2024-05-20 23:52:01.893,2024-05-20
564654,664be363d64b23136450c242,664be363d64b23136450c242,9903219712,2024-05-20 23:57:24.745,2024-05-20

In [80]:
data_before21stMay['number'].nunique()

564525

In [81]:
NotEvenRequested=data_before21stMay[~data_before21stMay['number'].isin(rideDetails['MobileNumber'])]

In [82]:
NotEvenRequested

,_id,userId,number,registrationDateIso,date
2,652d1effe2b96600148f1c29,652d1effe2b96600148f1c29,7878780001,2023-10-16 11:31:11.984,2023-10-16
6,6538c22a1683e1000db5707e,6538c22a1683e1000db5707e,9898980004,2023-10-25 07:22:18.817,2023-10-25
8,653a5952e982310013ca5520,653a5952e982310013ca5520,7557535453,2024-02-13 13:00:40.630,2024-02-13
13,65671a8527308f00148f245d,65671a8527308f00148f245d,NaN,2023-11-29 11:03:33.079,2023-11-29
16,65784257ad2801000f577b99,65784257ad2801000f577b99,NaN,2023-12-12 11:21:59.718,2023-12-12
...,...,...,...,...,...
564633,664bd675d64b23864650ba7b,664bd675d64b23864650ba7b,9836582049,2024-05-20 23:02:14.379,2024-05-20
564634,664bd6e7d64b23471c50baac,664bd6e7d64b23471c50baac,8420108911,2024-05-20 23:04:08.164,2024-05-20
564636,664bd925d64b23395c50bb5c,664bd925d64b23395c50bb5c,8013014491,2024-05-20 23:13:42.893,2024-05-20
564640,664bdc97d64b232ea750bd22,664bdc97d64b232ea750bd22,9088882494,2024-05-20 23:28:24.819,2024-05-20
564652,664be189d64b234b0150c0bf,664be189d64b234b0150c0bf,7980757390,2024-05-20 23:49:30.506,2024-05-20

In [84]:
NotEvenRequested.dropna(inplace=True)

/var/folders/q_/dn720rf91691y39h0s_hr_280000gn/T/ipykernel_43608/108124708.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NotEvenRequested.dropna(inplace=True)

In [85]:
NotEvenRequested

,_id,userId,number,registrationDateIso,date
2,652d1effe2b96600148f1c29,652d1effe2b96600148f1c29,7878780001,2023-10-16 11:31:11.984,2023-10-16
6,6538c22a1683e1000db5707e,6538c22a1683e1000db5707e,9898980004,2023-10-25 07:22:18.817,2023-10-25
8,653a5952e982310013ca5520,653a5952e982310013ca5520,7557535453,2024-02-13 13:00:40.630,2024-02-13
17,657aba6d32750900147930f4,657aba6d32750900147930f4,8520852085,2024-02-16 10:37:38.594,2024-02-16
18,657ad5dbf6ebd400130bd67e,657ad5dbf6ebd400130bd67e,8754636989,2023-12-14 10:15:56.213,2023-12-14
...,...,...,...,...,...
564633,664bd675d64b23864650ba7b,664bd675d64b23864650ba7b,9836582049,2024-05-20 23:02:14.379,2024-05-20
564634,664bd6e7d64b23471c50baac,664bd6e7d64b23471c50baac,8420108911,2024-05-20 23:04:08.164,2024-05-20
564636,664bd925d64b23395c50bb5c,664bd925d64b23395c50bb5c,8013014491,2024-05-20 23:13:42.893,2024-05-20
564640,664bdc97d64b232ea750bd22,664bdc97d64b232ea750bd22,9088882494,2024-05-20 23:28:24.819,2024-05-20
564652,664be189d64b234b0150c0bf,664be189d64b234b0150c0bf,7980757390,2024-05-20 23:49:30.506,2024-05-20

In [88]:
NotEvenRequested['number'].nunique()

483081

In [87]:
NotEvenRequested.to_csv("TargetCustomer.csv")

In [98]:
cancelled_df[cancelled_df['number']=='7000976760']

,_id,userId,number,registrationDateIso,date
206544,65fc1c8e98d0cf683b908f82,65fc1c8e98d0cf683b908f82,7000976760,2023-09-02 06:32:00,2023-09-02