In [2]:
import pandas as pd
from pymongo import MongoClient
from urllib.parse import quote_plus
from datetime import datetime, timedelta

import certifi

ca_cert_bundle = certifi.where()  # Use the system's trusted CA bundle


username = 'ML_Snape'
password = 'Learn@2024'
encoded_password = quote_plus(password)
connection_string = f'mongodb+srv://{username}:{encoded_password}@snapeeapp.3rtq6.mongodb.net/?retryWrites=true&w=majority&appName=snapeeApp&tlsCAFile={ca_cert_bundle}'

'''
connection_string=f'mongodb+srv://ML_Snape:Learn@2024@snapeeapp.3rtq6.mongodb.net/?retryWrites=true&w=majority&appName=snapeeApp&tlsCAFile={ca_cert_bundle}'
'''


client = MongoClient(connection_string)
db = client['snapee']
collection = db['bookings_rides']

current_datetime = datetime.now()
current_datetime_utc = current_datetime 
prev_25_hours_utc = current_datetime_utc - timedelta(hours=650)

# Query and projection
query = {
    'createdDate': {
        '$gte': prev_25_hours_utc,
        '$lte': current_datetime_utc
    }
}
projection = {
    'createdDate': 1,
    'slaveDetails.deviceTypeText':1,
    'bookingStatusText':1,
    'createdBy.mobile': 1,
}

# Execute the query and fetch the data
cursor = collection.find(query, projection)
cursor_list = list(cursor)

# Check if cursor_list is not empty
if cursor_list:
    # Convert the cursor to a pandas DataFrame
    cursor_df = pd.DataFrame(cursor_list)
    cursor_df['createdBy.mobile'] = cursor_df['createdBy'].apply(lambda x: str(x['mobile']))
    cursor_df = cursor_df.drop([ 'createdBy'], axis=1)
    print(cursor_df)
else:
    print("No data found.")

client.close()

                             _id              bookingStatusText  \
0       66585abf3f564dbc3ec998f6                      Completed
1       66585ac13f564dbc3ec998fa                      Completed
2       66585ac2eca5766295c18b96                      Completed
3       66585ad13f564dbc3ec998fd                      Completed
4       66585ad8eca5766295c18b9f  Request Cancelled By Customer
...                          ...                            ...
309258  667bc1d4df6f0c71139e944f           Driver is on the way
309259  667bc1eeb5c7be0015d13f94                            New
309260  667bc1ff4b9a3072a2e4969f           Driver is on the way
309261  667bc2054b9a3072a2e496a4           Driver is on the way
309262  667bc20cb5c7be0015d13f9b                            New

               createdDate               slaveDetails createdBy.mobile
0      2024-05-30 10:53:50  {'deviceTypeText': 'IOS'}       8584836318
1      2024-05-30 10:53:52  {'deviceTypeText': 'IOS'}       7439399734
2      2024-05-30 10:53:54  {'deviceTypeText': 'IOS'}       8777845953
3      2024-05-30 10:54:09  {'deviceTypeText': 'IOS'}       9804378977
4      2024-05-30 10:54:15  {'deviceTypeText': 'IOS'}       9123650992
...                    ...                        ...              ...
309258 2024-06-26 07:23:00  {'deviceTypeText': 'IOS'}       9874419789
309259 2024-06-26 07:23:26  {'deviceTypeText': 'IOS'}       7003132806
309260 2024-06-26 07:23:43  {'deviceTypeText': 'IOS'}       7003968534
309261 2024-06-26 07:23:48  {'deviceTypeText': 'IOS'}       9831499306
309262 2024-06-26 07:23:56  {'deviceTypeText': 'IOS'}       7003085849

[309263 rows x 5 columns]

In [3]:
cursor_df['devicetype'] = cursor_df['slaveDetails'].apply(lambda x: str(x['deviceTypeText']))

In [4]:
cursor_df['RequestAT']=cursor_df['createdDate']+timedelta(hours=5,minutes=30)

In [6]:
cursor_df['devicetype'].value_counts()

devicetype
IOS        239231
Android     68883
Web          1149
Name: count, dtype: int64

In [7]:
cursor_df['date']=cursor_df['RequestAT'].dt.date

In [8]:
cursor_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309263 entries, 0 to 309262
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   _id                309263 non-null  object
 1   bookingStatusText  309263 non-null  object
 2   createdDate        309263 non-null  datetime64[ns]
 3   slaveDetails       309263 non-null  object
 4   createdBy.mobile   309263 non-null  object
 5   devicetype         309263 non-null  object
 6   RequestAT          309263 non-null  datetime64[ns]
 7   date               309263 non-null  object
dtypes: datetime64[ns](2), object(6)
memory usage: 18.9+ MB

In [21]:
cursor_df['createdBy.mobile'].nunique()

68604

In [10]:
raw_data=cursor_df.groupby(['date','createdBy.mobile','bookingStatusText']).size()

In [12]:
raw_data

date        createdBy.mobile  bookingStatusText
2024-05-30  6000831840        Customer Cancelled               1
            6002359739        Customer Cancelled               1
            6009444862        Customer Cancelled               2
                              Request Cancelled By Customer    1
            6200767754        Customer Cancelled               2
                                                              ..
2024-06-26  9993556845        Completed                        1
            9997863447        Request Cancelled By Customer    2
            9999093389        Completed                        1
            9999403105        Expired                          1
            9999823541        Trip Started                     1
Length: 235229, dtype: int64

In [14]:
cursor_df['bookingStatusText'].value_counts()

bookingStatusText
Completed                        101883
Expired                           81594
Request Cancelled By Customer     77621
Customer Cancelled                47023
Cancel By Dispatcher                608
Completed By Dispatcher             215
Trip Started                        139
New                                 101
Driver is on the way                 58
Accepted                              9
Driver has arrived                    7
Reached To Drop Location              2
Expride                               1
Expried                               1
expired                               1
Name: count, dtype: int64

In [13]:
raw_data.head()

date        createdBy.mobile  bookingStatusText
2024-05-30  6000831840        Customer Cancelled               1
            6002359739        Customer Cancelled               1
            6009444862        Customer Cancelled               2
                              Request Cancelled By Customer    1
            6200767754        Customer Cancelled               2
                              Request Cancelled By Customer    3
            6202236870        Customer Cancelled               2
                              Expired                          1
            6203480004        Customer Cancelled               1
                              Request Cancelled By Customer    1
            6205131947        Expired                          1
            6205319994        Completed                        2
                              Expired                          1
            6205436439        Customer Cancelled               1
            6207090334        Customer Cancelled               3
            6289029886        Expired                          1
                              Request Cancelled By Customer    1
            6289030568        Completed                        1
            6289037305        Completed                        1
                              Request Cancelled By Customer    1
            6289049158        Expired                          1
                              Request Cancelled By Customer    1
            6289075436        Completed                        1
            6289111936        Completed                        1
                              Expired                          3
            6289156060        Completed                        1
                              Request Cancelled By Customer    1
            6289171834        Completed                        1
                              Customer Cancelled               2
            6289190562        Completed                        1
            6289244112        Customer Cancelled               1
                              Expired                          1
                              Request Cancelled By Customer    1
            6289256349        Completed                        1
                              Customer Cancelled               1
            6289264804        Expired                          1
            6289288475        Completed                        1
            6289306951        Completed                        1
                              Customer Cancelled               1
                              Expired                          2
                              Request Cancelled By Customer    1
            6289415071        Customer Cancelled               2
            6289439456        Expired                          1
                              Request Cancelled By Customer    1
            6289448617        Expired                          1
            6289462135        Customer Cancelled               1
            6289473013        Completed                        1
            6289516218        Completed                        1
            6289516473        Request Cancelled By Customer    5
            6289542041        Customer Cancelled               1
dtype: int64

In [19]:
grouped = cursor_df.groupby(['date', 'createdBy.mobile', 'bookingStatusText']).size().unstack(fill_value=0)


result = grouped.reset_index()

bookingStatusText,date,createdBy.mobile,Accepted,Cancel By Dispatcher,Completed,Completed By Dispatcher,Customer Cancelled,Driver has arrived,Driver is on the way,Expired,Expride,Expried,New,Reached To Drop Location,Request Cancelled By Customer,Trip Started,expired
0,2024-05-30,6000831840,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,2024-05-30,6002359739,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,2024-05-30,6009444862,0,0,0,0,2,0,0,0,0,0,0,0,1,0,0
3,2024-05-30,6200767754,0,0,0,0,2,0,0,0,0,0,0,0,3,0,0
4,2024-05-30,6202236870,0,0,0,0,2,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168890,2024-06-26,9993556845,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
168891,2024-06-26,9997863447,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0
168892,2024-06-26,9999093389,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
168893,2024-06-26,9999403105,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
168894,2024-06-26,9999823541,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0

In [22]:
result.to_csv("Requests Per Day Completion status.csv")

In [24]:
result.head()

bookingStatusText,date,createdBy.mobile,Accepted,Cancel By Dispatcher,Completed,Completed By Dispatcher,Customer Cancelled,Driver has arrived,Driver is on the way,Expired,Expride,Expried,New,Reached To Drop Location,Request Cancelled By Customer,Trip Started,expired
0,2024-05-30,6000831840,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,2024-05-30,6002359739,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,2024-05-30,6009444862,0,0,0,0,2,0,0,0,0,0,0,0,1,0,0
3,2024-05-30,6200767754,0,0,0,0,2,0,0,0,0,0,0,0,3,0,0
4,2024-05-30,6202236870,0,0,0,0,2,0,0,1,0,0,0,0,0,0,0

In [25]:
status_columns = [col for col in result.columns if col not in ['date', 'createdBy.mobile']]
result['Total'] = result[status_columns].sum(axis=1)

In [27]:
result['completion_percentage']=(result['Completed']/result['Total'])*100

In [29]:
result['completion_percentage'].value_count()

completion_percentage
0.000000      84775
100.000000    53114
50.000000     14981
33.333333      6039
25.000000      2860
              ...
73.913043         1
4.761905          1
47.619048         1
90.476190         1
92.982456         1
Name: count, Length: 158, dtype: int64

In [30]:
result.to_csv("Customer Completion.csv")

In [31]:
cursor_df['bookingStatusText'].value_counts()

bookingStatusText
Completed                        101883
Expired                           81594
Request Cancelled By Customer     77621
Customer Cancelled                47023
Cancel By Dispatcher                608
Completed By Dispatcher             215
Trip Started                        139
New                                 101
Driver is on the way                 58
Accepted                              9
Driver has arrived                    7
Reached To Drop Location              2
Expride                               1
Expried                               1
expired                               1
Name: count, dtype: int64

In [32]:
cursor_df.groupby(['createdBy.mobile','devicetype']).size()

createdBy.mobile  devicetype
1234567891        IOS           6
1234567892        IOS           1
1234567894        Android       2
5643297344        IOS           1
5689720577        Android       1
                               ..
9999961066        Android       1
9999964244        IOS           8
9999969482        IOS           2
9999969541        Android       5
None              Android       1
Length: 68732, dtype: int64

In [36]:
cursor_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309263 entries, 0 to 309262
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   _id                309263 non-null  object
 1   bookingStatusText  309263 non-null  object
 2   createdDate        309263 non-null  datetime64[ns]
 3   slaveDetails       309263 non-null  object
 4   createdBy.mobile   309263 non-null  object
 5   devicetype         309263 non-null  object
 6   RequestAT          309263 non-null  datetime64[ns]
 7   date               309263 non-null  object
dtypes: datetime64[ns](2), object(6)
memory usage: 18.9+ MB

In [42]:
cursor_df[cursor_df['createdBy.mobile']=='9871606366']

,_id,bookingStatusText,createdDate,slaveDetails,createdBy.mobile,devicetype,RequestAT,date
14048,6659b831e51884002948dfe5,Completed,2024-05-31 11:44:49,{'deviceTypeText': 'IOS'},9871606366,IOS,2024-05-31 17:14:49,2024-05-31
93872,666478bd57ffda001edd16c6,Request Cancelled By Customer,2024-06-08 15:29:01,{'deviceTypeText': 'IOS'},9871606366,IOS,2024-06-08 20:59:01,2024-06-08
101536,66658d4a7582e314aec7c8a5,Request Cancelled By Customer,2024-06-09 11:08:58,{'deviceTypeText': 'IOS'},9871606366,IOS,2024-06-09 16:38:58,2024-06-09
101599,66658e258b8cbd6d3bf14bef,Customer Cancelled,2024-06-09 11:12:37,{'deviceTypeText': 'IOS'},9871606366,IOS,2024-06-09 16:42:37,2024-06-09
101723,66658fdd7582e314aec7c928,Expired,2024-06-09 11:19:57,{'deviceTypeText': 'IOS'},9871606366,IOS,2024-06-09 16:49:57,2024-06-09
101858,66659210804a4a0015576807,Completed,2024-06-09 11:29:20,{'deviceTypeText': 'IOS'},9871606366,IOS,2024-06-09 16:59:20,2024-06-09
106908,6665cb708b8cbd6d3bf1668f,Request Cancelled By Customer,2024-06-09 15:34:08,{'deviceTypeText': 'IOS'},9871606366,IOS,2024-06-09 21:04:08,2024-06-09
107558,6665d560131f88001622d324,Completed,2024-06-09 16:16:32,{'deviceTypeText': 'IOS'},9871606366,IOS,2024-06-09 21:46:32,2024-06-09
170765,666c56018e7f06001ce8505f,Request Cancelled By Customer,2024-06-14 14:38:56,{'deviceTypeText': 'IOS'},9871606366,IOS,2024-06-14 20:08:56,2024-06-14
170808,666c568679a4b60029346af5,Expired,2024-06-14 14:41:10,{'deviceTypeText': 'IOS'},9871606366,IOS,2024-06-14 20:11:10,2024-06-14
170951,666c5823092b0c001d122627,Customer Cancelled,2024-06-14 14:48:03,{'deviceTypeText': 'IOS'},9871606366,IOS,2024-06-14 20:18:03,2024-06-14
171704,666c622b79a4b60029346cac,Completed,2024-06-14 15:30:51,{'deviceTypeText': 'IOS'},9871606366,IOS,2024-06-14 21:00:51,2024-06-14
185468,666da52466cd62d5bbbbec89,Request Cancelled By Customer,2024-06-15 14:28:52,{'deviceTypeText': 'IOS'},9871606366,IOS,2024-06-15 19:58:52,2024-06-15
185595,666da64de9b7fb0bf1857b36,Request Cancelled By Customer,2024-06-15 14:33:49,{'deviceTypeText': 'IOS'},9871606366,IOS,2024-06-15 20:03:49,2024-06-15
186001,666daa9bfed586dc30758e65,Request Cancelled By Customer,2024-06-15 14:52:11,{'deviceTypeText': 'IOS'},9871606366,IOS,2024-06-15 20:22:11,2024-06-15
186411,666daf6efed586dc3075903a,Completed,2024-06-15 15:12:46,{'deviceTypeText': 'IOS'},9871606366,IOS,2024-06-15 20:42:46,2024-06-15
189467,666e5f8e21ffcb001b8e04cd,Completed,2024-06-16 03:44:14,{'deviceTypeText': 'IOS'},9871606366,IOS,2024-06-16 09:14:14,2024-06-16
189481,666e5fffe4c1be00280b0e58,Completed,2024-06-16 03:46:07,{'deviceTypeText': 'IOS'},9871606366,IOS,2024-06-16 09:16:07,2024-06-16
191924,666ea8616440012f473f63f5,Request Cancelled By Customer,2024-06-16 08:54:57,{'deviceTypeText': 'IOS'},9871606366,IOS,2024-06-16 14:24:57,2024-06-16
192125,666eaecff15b854c810ebc80,Customer Cancelled,2024-06-16 09:22:22,{'deviceTypeText': 'IOS'},9871606366,IOS,2024-06-16 14:52:22,2024-06-16
192138,666eaf4c7a60f90fce9f5150,Completed,2024-06-16 09:24:28,{'deviceTypeText': 'IOS'},9871606366,IOS,2024-06-16 14:54:28,2024-06-16
193762,666ed4d76440012f473f6e74,Request Cancelled By Customer,2024-06-16 12:04:37,{'deviceTypeText': 'IOS'},9871606366,IOS,2024-06-16 17:34:37,2024-06-16
193845,666ed6506440012f473f6f05,Completed,2024-06-16 12:10:56,{'deviceTypeText': 'IOS'},9871606366,IOS,2024-06-16 17:40:56,2024-06-16
221631,667197df1eae47001df65b45,Completed,2024-06-18 14:21:19,{'deviceTypeText': 'IOS'},9871606366,IOS,2024-06-18 19:51:19,2024-06-18
260737,66758dd57a395fe8934f7877,Expired,2024-06-21 14:27:32,{'deviceTypeText': 'IOS'},9871606366,IOS,2024-06-21 19:57:32,2024-06-21
260803,66758e7c56fb7c8eedad6292,Request Cancelled By Customer,2024-06-21 14:30:20,{'deviceTypeText': 'IOS'},9871606366,IOS,2024-06-21 20:00:20,2024-06-21
260992,6675903c7a395fe8934f7993,Completed,2024-06-21 14:37:48,{'deviceTypeText': 'IOS'},9871606366,IOS,2024-06-21 20:07:48,2024-06-21
264662,6676540eebe85692dacc8c00,Completed,2024-06-22 04:33:18,{'deviceTypeText': 'IOS'},9871606366,IOS,2024-06-22 10:03:18,2024-06-22
303597,667ad2fc16d874d20df374f7,Customer Cancelled,2024-06-25 14:23:56,{'deviceTypeText': 'IOS'},9871606366,IOS,2024-06-25 19:53:56,2024-06-25
303766,667ad5e76727aa87367874cc,Request Cancelled By Customer,2024-06-25 14:36:22,{'deviceTypeText': 'IOS'},9871606366,IOS,2024-06-25 20:06:22,2024-06-25
303804,667ad6a075f996e12fe36d1a,Customer Cancelled,2024-06-25 14:39:27,{'deviceTypeText': 'IOS'},9871606366,IOS,2024-06-25 20:09:27,2024-06-25
304221,667adeb297b5929423da9290,Request Cancelled By Customer,2024-06-25 15:13:53,{'deviceTypeText': 'IOS'},9871606366,IOS,2024-06-25 20:43:53,2024-06-25
304234,667adee26727aa87367876f1,Completed,2024-06-25 15:14:42,{'deviceTypeText': 'IOS'},9871606366,IOS,2024-06-25 20:44:42,2024-06-25
309159,667bbeebdf6f0c71139e939d,Customer Cancelled,2024-06-26 07:10:34,{'deviceTypeText': 'IOS'},9871606366,IOS,2024-06-26 12:40:34,2024-06-26

In [44]:
cursor_df['devicetype'].value_counts()

devicetype
IOS        239231
Android     68883
Web          1149
Name: count, dtype: int64

In [46]:
239/(69+239)

0.775974025974026

KOL6531719382761
11.49

In [16]:
import pandas as pd
from pymongo import MongoClient
from urllib.parse import quote_plus
from datetime import datetime, timedelta

import certifi

ca_cert_bundle = certifi.where()  # Use the system's trusted CA bundle


username = 'ML_Snape'
password = 'Learn@2024'
encoded_password = quote_plus(password)
connection_string = f'mongodb+srv://{username}:{encoded_password}@snapeeapp.3rtq6.mongodb.net/?retryWrites=true&w=majority&appName=snapeeApp&tlsCAFile={ca_cert_bundle}'

'''
connection_string=f'mongodb+srv://ML_Snape:Learn@2024@snapeeapp.3rtq6.mongodb.net/?retryWrites=true&w=majority&appName=snapeeApp&tlsCAFile={ca_cert_bundle}'
'''


client = MongoClient(connection_string)
db = client['snapee']
collection = db['bookings_rides']

current_datetime = datetime.now()
current_datetime_utc = current_datetime 
prev_25_hours_utc = current_datetime_utc - timedelta(hours=40)

# Query and projection
query = {
    'createdDate': {
        '$gte': prev_25_hours_utc,
        '$lte': current_datetime_utc
    }
}


# Execute the query and fetch the data
cursor = collection.find(query)
cursor_list = list(cursor)

# Check if cursor_list is not empty
if cursor_list:
    # Convert the cursor to a pandas DataFrame
    cursor_df = pd.DataFrame(cursor_list)
    print(cursor_df)
else:
    print("No data found.")

client.close()

                            _id         bookingId      bookingIdStr  \
0      667a17d2af4c7e0029d2e3e7  KOL7291719277522  KOL7291719277522
1      667a1829af4c7e0029d2e3ec  KOL5211719277609  KOL5211719277609
2      667a1874af4c7e0029d2e3f0  KOL7761719277684  KOL7761719277684
3      667a18808dc6c10015f4da12  KOL6471719277695  KOL6471719277695
4      667a18cbaf4c7e0029d2e3f6  KOL4771719277771  KOL4771719277771
...                         ...               ...               ...
16489  667bfcdbd6cd5248e7addd6a  KOL2771719401690  KOL2771719401690
16490  667bfce09419ba34c47fbe5f  KOL4591719401696  KOL4591719401696
16491  667bfce6a5efed3b873b9149  KOL9291719401701  KOL9291719401701
16492  667bfcea9419ba34c47fbe62  KOL8551719401705  KOL8551719401705
16493  667bfcee9419ba34c47fbe68  KOL2081719401709  KOL2081719401709

       bookingStatus   bookingStatusText  serviceType serviceTypeText  \
0                  4  Customer Cancelled            2            Ride
1                 13             Expired            2            Ride
2                  4  Customer Cancelled            2            Ride
3                 12           Completed            2            Ride
4                  4  Customer Cancelled            2            Ride
...              ...                 ...          ...             ...
16489              1                 New            2            Ride
16490              1                 New            2            Ride
16491              1                 New            2            Ride
16492              1                 New            2            Ride
16493              1                 New            2            Ride

       bookingType bookingTypeText         createdDate  ... changedPickup  \
0                1             Now 2024-06-25 01:05:22  ...           NaN
1                1             Now 2024-06-25 01:06:49  ...           NaN
2                1             Now 2024-06-25 01:08:04  ...           NaN
3                1             Now 2024-06-25 01:08:15  ...           NaN
4                1             Now 2024-06-25 01:09:31  ...           NaN
...            ...             ...                 ...  ...           ...
16489            1             Now 2024-06-26 11:34:51  ...           NaN
16490            1             Now 2024-06-26 11:34:56  ...           NaN
16491            1             Now 2024-06-26 11:35:02  ...           NaN
16492            1             Now 2024-06-26 11:35:05  ...           NaN
16493            1             Now 2024-06-26 11:35:09  ...           NaN

       sosLogs sosRaised driverDistance  dropWaitingTime totalInitalExtraFee  \
0          NaN       NaN            NaN              NaN                 NaN
1          NaN       NaN            NaN              NaN                 NaN
2          NaN       NaN            NaN              NaN                 NaN
3          NaN       NaN            NaN              NaN                 NaN
4          NaN       NaN            NaN              NaN                 NaN
...        ...       ...            ...              ...                 ...
16489      NaN       NaN            NaN              NaN                 NaN
16490      NaN       NaN            NaN              NaN                 NaN
16491      NaN       NaN            NaN              NaN                 NaN
16492      NaN       NaN            NaN              NaN                 NaN
16493      NaN       NaN            NaN              NaN                 NaN

      isCustomerOtpRentalVerified  promoCodeError promoId  packagedeatilsOld
0                             NaN             NaN     NaN                NaN
1                             NaN             NaN     NaN                NaN
2                             NaN             NaN     NaN                NaN
3                             NaN             NaN     NaN                NaN
4                             NaN             NaN     NaN                NaN
...                           ...             ...     ...                ...
16489                         NaN             NaN     NaN                NaN
16490                         NaN             NaN     NaN                NaN
16491                         NaN             NaN     NaN                NaN
16492                         NaN             NaN     NaN                NaN
16493                         NaN             NaN     NaN                NaN

[16494 rows x 159 columns]

In [17]:
cursor_df['createdDate']=cursor_df['createdDate']+timedelta(hours=5, minutes=30)

In [18]:
cursor_df['createdDate']

0       2024-06-25 06:35:22
1       2024-06-25 06:36:49
2       2024-06-25 06:38:04
3       2024-06-25 06:38:15
4       2024-06-25 06:39:31
                ...
16489   2024-06-26 17:04:51
16490   2024-06-26 17:04:56
16491   2024-06-26 17:05:02
16492   2024-06-26 17:05:05
16493   2024-06-26 17:05:09
Name: createdDate, Length: 16494, dtype: datetime64[ns]

In [19]:
rideDetails=cursor_df[cursor_df['bookingId']=='KOL4861719299397']

In [20]:
rideDetails

,_id,bookingId,bookingIdStr,bookingStatus,bookingStatusText,serviceType,serviceTypeText,bookingType,bookingTypeText,createdDate,...,changedPickup,sosLogs,sosRaised,driverDistance,dropWaitingTime,totalInitalExtraFee,isCustomerOtpRentalVerified,promoCodeError,promoId,packagedeatilsOld
3433,667a6d45d367bde99477ba67,KOL4861719299397,KOL4861719299397,12,Completed,2,Ride,2,Later,2024-06-25 12:39:57,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
rideDetails.to_csv("rideDetails2.csv")