In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [13]:
data=pd.read_csv("/Users/aayushjain/codes/projects/company assignements/Snape/Customer Migration/Active Customers Details - 21 May 2024, 5_34_56 pm.csv")

/var/folders/q_/dn720rf91691y39h0s_hr_280000gn/T/ipykernel_97486/166700782.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv("/Users/aayushjain/codes/projects/company assignements/Snape/Customer Migration/Active Customers Details - 21 May 2024, 5_34_56 pm.csv")

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590467 entries, 0 to 590466
Data columns (total 12 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   user_ID                    590467 non-null  int64
 1   user_name                  590467 non-null  object
 2   city_name                  590467 non-null  object
 3   mobile                     590467 non-null  object
 4   email                      590467 non-null  object
 5   email_verification_status  590467 non-null  object
 6   date_registered            590467 non-null  object
 7   last_ride_on               234698 non-null  object
 8   last_login                 564836 non-null  object
 9   SMS_preferred              590467 non-null  object
 10  Email_preferred            590467 non-null  object
 11  Push_preferred             590467 non-null  object
dtypes: int64(1), object(11)
memory usage: 54.1+ MB

In [15]:
data['mobile'].nunique()

590467

In [16]:
data.head()

,user_ID,user_name,city_name,mobile,email,email_verification_status,date_registered,last_ride_on,last_login,SMS_preferred,Email_preferred,Push_preferred
0,15728892,Anurag Monu,Kolkata,+919102873657,anuragmonu2024@gmail.com,Unverified,2024-05-21 17:25:04,NaN,2024-05-21 17:25:05,Yes,Yes,Yes
1,15728847,Madhumita Sengupta,Kolkata,+919038850368,madhumita.sengupta93@gmail.com,Unverified,2024-05-21 17:12:18,NaN,2024-05-21 17:12:18,Yes,Yes,Yes
2,15728806,Md Shahnawaz,Kolkata,+919123729554,erakirocky@gmail.com,Unverified,2024-05-21 16:57:47,NaN,2024-05-21 17:01:52,Yes,Yes,Yes
3,15728796,K.raju Babu,Kolkata,+917439635299,rajununia44@gmail.com,Unverified,2024-05-21 16:54:53,NaN,2024-05-21 17:00:54,Yes,Yes,Yes
4,15728784,S Paul,Kolkata,+919903816216,sanjeebkr.paul@gmail.com,Unverified,2024-05-21 16:50:15,NaN,2024-05-21 16:50:16,Yes,Yes,Yes

In [17]:
dataset2=pd.read_csv("/Users/aayushjain/codes/projects/company assignements/Snape/Customer Migration/snapee.customer121.csv")

In [18]:
dataset2.head()

       mobile
0  7003175049
1  8700466519
2  6294035244
3  9870506362
4  8469645957

In [19]:
dataset2['mobile'] = dataset2['mobile'].astype(str)
dataset2['mobile'] = "+91" + dataset2['mobile']

In [20]:
dataset2.head()

          mobile
0  +917003175049
1  +918700466519
2  +916294035244
3  +919870506362
4  +918469645957

In [21]:
mobile_set = set(dataset2['mobile'])

existing_mobiles = data[data['mobile'].isin(mobile_set)]

print(existing_mobiles)

         user_ID           user_name city_name         mobile  \
151     15724926       Kishore Koner   Kolkata  +919903869255
183     15724770          Yash Gupta   Kolkata  +918210666347
195     15724712        Arvin Raihan   Kolkata  +917029791976
252     15724403        Tanya Bondia   Kolkata  +918420460561
266     15724348           Lalit Ray   Kolkata  +918017400543
...          ...                 ...       ...            ...
589511  13120229       Aditya Mandal   Kolkata  +919748270706
589529  13120184   Abhishek Bhageria   Kolkata  +919874772734
589543  13120157         Abhijit Roy   Kolkata  +919830333406
589574  13120114  Aanchal Gourisaria   Kolkata  +919163167771
589608  13120067  9836319051 Mundhra   Kolkata  +919836319051

                              email email_verification_status  \
151              krckoner@gmail.com                Unverified
183              ygns3563@gmail.com                Unverified
195        tanujaparvez70@gmail.com                Unverified
252           bondiatanya@yahoo.com                Unverified
266           raylalit524@gmail.com                Unverified
...                             ...                       ...
589511       adimandal005@gmail.com                Unverified
589529  abhishek.bhageria@gmail.com                Unverified
589543         abhijitroy90@live.in                  Verified
589574  gourisariaaanchal@gmail.com                Unverified
589608   vinaymundhra9051@yahoo.Com                Unverified

            date_registered         last_ride_on           last_login  \
151     2024-05-20 18:43:49  2024-05-20 19:36:00  2024-05-21 14:34:06
183     2024-05-20 18:11:59                  NaN  2024-05-21 08:30:27
195     2024-05-20 18:01:17  2024-05-20 19:41:20  2024-05-21 14:41:44
252     2024-05-20 16:40:01                  NaN  2024-05-21 15:01:18
266     2024-05-20 16:25:21                  NaN  2024-05-21 11:49:37
...                     ...                  ...                  ...
589511  2022-12-02 01:57:59  2024-04-06 13:42:51  2024-04-06 13:11:20
589529  2022-12-02 01:51:40  2024-03-31 23:45:36  2024-05-09 14:50:05
589543  2022-12-02 01:48:17  2024-02-27 11:41:46  2024-05-09 22:54:42
589574  2022-12-02 01:39:11  2024-05-18 14:25:31  2024-05-18 17:44:53
589608  2022-12-02 01:29:27  2024-05-09 16:49:41  2024-05-17 10:22:00

       SMS_preferred Email_preferred Push_preferred
151              Yes             Yes            Yes
183              Yes             Yes            Yes
195              Yes             Yes            Yes
252              Yes             Yes            Yes
266              Yes             Yes            Yes
...              ...             ...            ...
589511           Yes             Yes            Yes
589529           Yes             Yes            Yes
589543           Yes             Yes            Yes
589574           Yes             Yes            Yes
589608           Yes             Yes            Yes

[33558 rows x 12 columns]

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590467 entries, 0 to 590466
Data columns (total 12 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   user_ID                    590467 non-null  int64
 1   user_name                  590467 non-null  object
 2   city_name                  590467 non-null  object
 3   mobile                     590467 non-null  object
 4   email                      590467 non-null  object
 5   email_verification_status  590467 non-null  object
 6   date_registered            590467 non-null  object
 7   last_ride_on               234698 non-null  object
 8   last_login                 564836 non-null  object
 9   SMS_preferred              590467 non-null  object
 10  Email_preferred            590467 non-null  object
 11  Push_preferred             590467 non-null  object
dtypes: int64(1), object(11)
memory usage: 54.1+ MB

In [23]:
dataset2['mobile'].nunique()

34119

In [24]:
dataset2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34119 entries, 0 to 34118
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   mobile  34119 non-null  object
dtypes: object(1)
memory usage: 266.7+ KB

In [25]:
34119-33558

561

In [26]:
existing_mobiles.head()

,user_ID,user_name,city_name,mobile,email,email_verification_status,date_registered,last_ride_on,last_login,SMS_preferred,Email_preferred,Push_preferred
151,15724926,Kishore Koner,Kolkata,+919903869255,krckoner@gmail.com,Unverified,2024-05-20 18:43:49,2024-05-20 19:36:00,2024-05-21 14:34:06,Yes,Yes,Yes
183,15724770,Yash Gupta,Kolkata,+918210666347,ygns3563@gmail.com,Unverified,2024-05-20 18:11:59,NaN,2024-05-21 08:30:27,Yes,Yes,Yes
195,15724712,Arvin Raihan,Kolkata,+917029791976,tanujaparvez70@gmail.com,Unverified,2024-05-20 18:01:17,2024-05-20 19:41:20,2024-05-21 14:41:44,Yes,Yes,Yes
252,15724403,Tanya Bondia,Kolkata,+918420460561,bondiatanya@yahoo.com,Unverified,2024-05-20 16:40:01,NaN,2024-05-21 15:01:18,Yes,Yes,Yes
266,15724348,Lalit Ray,Kolkata,+918017400543,raylalit524@gmail.com,Unverified,2024-05-20 16:25:21,NaN,2024-05-21 11:49:37,Yes,Yes,Yes

In [27]:
mobile_set = set(data['mobile'])

non_existing_mobiles = dataset2[~dataset2['mobile'].isin](mobile_set)

TypeError: bad operand type for unary ~: 'method'

In [28]:
non_existing_mobiles = dataset2[~dataset2['mobile'].isin(mobile_set)]

In [29]:
non_existing_mobiles

              mobile
0      +917003175049
2      +916294035244
3      +919870506362
4      +918469645957
6      +919871606366
...              ...
34114  +918910885973
34115  +918335804595
34116  +917003132806
34117  +918171276017
34118  +917781003366

[561 rows x 1 columns]

In [30]:
non_existing_mobiles.to_excel("Non_existing_mobiles.xlsx",index=True)

In [31]:
existing_mobiles.to_excel("existing_mobiles.xlsx",index=True)

In [32]:
existing_mobiles['last_ride_on'].isnull().sum()

5800

In [33]:
existing_mobiles.head()

,user_ID,user_name,city_name,mobile,email,email_verification_status,date_registered,last_ride_on,last_login,SMS_preferred,Email_preferred,Push_preferred
151,15724926,Kishore Koner,Kolkata,+919903869255,krckoner@gmail.com,Unverified,2024-05-20 18:43:49,2024-05-20 19:36:00,2024-05-21 14:34:06,Yes,Yes,Yes
183,15724770,Yash Gupta,Kolkata,+918210666347,ygns3563@gmail.com,Unverified,2024-05-20 18:11:59,NaN,2024-05-21 08:30:27,Yes,Yes,Yes
195,15724712,Arvin Raihan,Kolkata,+917029791976,tanujaparvez70@gmail.com,Unverified,2024-05-20 18:01:17,2024-05-20 19:41:20,2024-05-21 14:41:44,Yes,Yes,Yes
252,15724403,Tanya Bondia,Kolkata,+918420460561,bondiatanya@yahoo.com,Unverified,2024-05-20 16:40:01,NaN,2024-05-21 15:01:18,Yes,Yes,Yes
266,15724348,Lalit Ray,Kolkata,+918017400543,raylalit524@gmail.com,Unverified,2024-05-20 16:25:21,NaN,2024-05-21 11:49:37,Yes,Yes,Yes

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590467 entries, 0 to 590466
Data columns (total 12 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   user_ID                    590467 non-null  int64
 1   user_name                  590467 non-null  object
 2   city_name                  590467 non-null  object
 3   mobile                     590467 non-null  object
 4   email                      590467 non-null  object
 5   email_verification_status  590467 non-null  object
 6   date_registered            590467 non-null  object
 7   last_ride_on               234698 non-null  object
 8   last_login                 564836 non-null  object
 9   SMS_preferred              590467 non-null  object
 10  Email_preferred            590467 non-null  object
 11  Push_preferred             590467 non-null  object
dtypes: int64(1), object(11)
memory usage: 54.1+ MB

In [35]:
data['last_ride_on']=pd.to_datetime(data['last_ride_on'], format='%Y-%m-%d %H:%M:%S', errors='coerce')

In [36]:
after_april=data[data['last_ride_on']>"2024-04-01 00:00:00"]

In [37]:
mobile_set = set(dataset2['mobile'])

In [38]:
after_april.info()

<class 'pandas.core.frame.DataFrame'>
Index: 70986 entries, 32 to 589766
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   user_ID                    70986 non-null  int64
 1   user_name                  70986 non-null  object
 2   city_name                  70986 non-null  object
 3   mobile                     70986 non-null  object
 4   email                      70986 non-null  object
 5   email_verification_status  70986 non-null  object
 6   date_registered            70986 non-null  object
 7   last_ride_on               70986 non-null  datetime64[ns]
 8   last_login                 64551 non-null  object
 9   SMS_preferred              70986 non-null  object
 10  Email_preferred            70986 non-null  object
 11  Push_preferred             70986 non-null  object
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 7.0+ MB

In [39]:
after_april[after_april['mobile'].isin(mobile_set)]

,user_ID,user_name,city_name,mobile,email,email_verification_status,date_registered,last_ride_on,last_login,SMS_preferred,Email_preferred,Push_preferred
151,15724926,Kishore Koner,Kolkata,+919903869255,krckoner@gmail.com,Unverified,2024-05-20 18:43:49,2024-05-20 19:36:00,2024-05-21 14:34:06,Yes,Yes,Yes
195,15724712,Arvin Raihan,Kolkata,+917029791976,tanujaparvez70@gmail.com,Unverified,2024-05-20 18:01:17,2024-05-20 19:41:20,2024-05-21 14:41:44,Yes,Yes,Yes
308,15725543,NITESH KUMAR,Not Defined,+918554989746,guest_+918554989746@email.com,Unverified,2024-05-20 15:37:12,2024-05-20 15:57:24,NaN,Yes,Yes,Yes
314,15724124,Tamal Mandal,Kolkata,+916299902153,tamalmandal12@gmail.com,Verified,2024-05-20 15:32:12,2024-05-20 16:48:27,2024-05-20 23:59:14,Yes,Yes,Yes
335,15725437,S,Not Defined,+918989253678,guest_+918989253678@email.com,Unverified,2024-05-20 15:06:41,2024-05-20 15:53:00,NaN,Yes,Yes,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...
589441,13120361,Amit Pal Chowdhury,Kolkata,+919088008587,amit.chowdhury@elastic.run,Unverified,2022-12-02 02:17:33,2024-05-10 16:13:13,2024-05-17 21:43:00,Yes,Yes,Yes
589443,13120357,Amit Kochar,Kolkata,+919330793309,amitkochar3@gmail.com,Unverified,2022-12-02 02:17:09,2024-05-19 08:46:52,2024-05-19 08:16:23,Yes,Yes,Yes
589511,13120229,Aditya Mandal,Kolkata,+919748270706,adimandal005@gmail.com,Unverified,2022-12-02 01:57:59,2024-04-06 13:42:51,2024-04-06 13:11:20,Yes,Yes,Yes
589574,13120114,Aanchal Gourisaria,Kolkata,+919163167771,gourisariaaanchal@gmail.com,Unverified,2022-12-02 01:39:11,2024-05-18 14:25:31,2024-05-18 17:44:53,Yes,Yes,Yes
589608,13120067,9836319051 Mundhra,Kolkata,+919836319051,vinaymundhra9051@yahoo.Com,Unverified,2022-12-02 01:29:27,2024-05-09 16:49:41,2024-05-17 10:22:00,Yes,Yes,Yes

april ke baad total rides - 70k.
But, only 17.5k from these 70k matched in new app.

In [40]:
data[data['user_name']=='Aayush Jain']

,user_ID,user_name,city_name,mobile,email,email_verification_status,date_registered,last_ride_on,last_login,SMS_preferred,Email_preferred,Push_preferred
16082,15635386,Aayush Jain,Kolkata,+919300319597,bt22cse089@iiitn.ac.in,Unverified,2024-05-04 23:41:13,2024-05-20 14:32:24,2024-05-20 14:32:21,Yes,Yes,Yes
36777,15554192,Aayush Jain,Kolkata,+918560906150,918560906150x89@email.com,Unverified,2024-04-18 10:09:35,NaT,2024-04-18 10:09:35,Yes,Yes,Yes
165607,15099799,Aayush Jain,Kolkata,+919855059750,aayush530@gmail.com,Unverified,2023-12-17 19:03:46,NaT,2024-01-03 12:37:56,Yes,Yes,Yes
212182,14921681,Aayush Jain,Kolkata,+919820621210,aayushjain1098@gmail.com,Unverified,2023-11-04 11:29:47,NaT,2024-05-12 17:07:01,Yes,Yes,Yes
319842,14458247,Aayush Jain,Kolkata,+919619066816,aayushisalways@gmail.com,Unverified,2023-07-21 13:59:49,NaT,2024-01-01 22:05:55,Yes,Yes,Yes
360820,14308286,Aayush Jain,Kolkata,+919874616115,jainaayush793@gmail.com,Unverified,2023-06-20 19:16:20,NaT,2023-06-20 19:16:21,Yes,Yes,Yes
455748,13925743,Aayush Jain,Kolkata,+918700631758,aayush.jain267@yahoo.com,Unverified,2023-04-16 12:46:47,2024-04-18 14:16:46,2024-04-20 22:26:56,Yes,Yes,Yes
536602,13405295,Aayush Jain,Kolkata,+917044433177,ayushdoshi2020@gmail.com,Unverified,2023-02-04 15:58:43,2023-06-03 11:43:52,2023-06-13 12:24:07,Yes,Yes,Yes
565007,13269359,Aayush Jain,Kolkata,+919830062273,aayush.jain377@gmail.com,Unverified,2023-01-03 10:27:15,2023-01-29 14:02:39,2024-05-02 10:27:13,Yes,Yes,Yes

In [41]:
data['last_ride_on'].isnull().sum()

355769

2.5L customers

In [42]:
existing_mobiles[existing_mobiles['user_name']=='Aayush Jain']

,user_ID,user_name,city_name,mobile,email,email_verification_status,date_registered,last_ride_on,last_login,SMS_preferred,Email_preferred,Push_preferred
16082,15635386,Aayush Jain,Kolkata,+919300319597,bt22cse089@iiitn.ac.in,Unverified,2024-05-04 23:41:13,2024-05-20 14:32:24,2024-05-20 14:32:21,Yes,Yes,Yes

In [43]:
customer=pd.read_csv("/Users/aayushjain/codes/projects/company assignements/Snape/Customer Migration/customer.csv")

In [46]:
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29541 entries, 0 to 29540
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   mobile  29541 non-null  int64
dtypes: int64(1)
memory usage: 230.9 KB

In [65]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590467 entries, 0 to 590466
Data columns (total 12 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   user_ID                    590467 non-null  int64
 1   user_name                  590467 non-null  object
 2   city_name                  590467 non-null  object
 3   mobile                     590467 non-null  object
 4   email                      590467 non-null  object
 5   email_verification_status  590467 non-null  object
 6   date_registered            590467 non-null  object
 7   last_ride_on               234698 non-null  datetime64[ns]
 8   last_login                 564836 non-null  object
 9   SMS_preferred              590467 non-null  object
 10  Email_preferred            590467 non-null  object
 11  Push_preferred             590467 non-null  object
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 54.1+ MB

In [58]:
mobile_set = set(data['mobile'])

In [66]:
customer['mobile'] = customer['mobile'].astype(str)
customer['mobile'] = "+91" + customer['mobile']

In [79]:
existing_mobiles_customers = customer[customer['mobile'].isin(mobile_set)]

In [80]:
non_existing_mobiles_customers = customer[~customer['mobile'].isin(mobile_set)]

In [81]:
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29541 entries, 0 to 29540
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   mobile  29541 non-null  object
dtypes: object(1)
memory usage: 230.9+ KB

In [83]:
non_existing_mobiles_customers.info()

<class 'pandas.core.frame.DataFrame'>
Index: 519 entries, 0 to 29540
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   mobile  519 non-null    object
dtypes: object(1)
memory usage: 8.1+ KB

In [84]:
existing_mobiles_customers.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29022 entries, 1 to 29538
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   mobile  29022 non-null  object
dtypes: object(1)
memory usage: 453.5+ KB

In [86]:
customer['mobile'].nunique()

29541

In [87]:
data['mobile'].nunique()

590467

In [88]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590467 entries, 0 to 590466
Data columns (total 12 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   user_ID                    590467 non-null  int64
 1   user_name                  590467 non-null  object
 2   city_name                  590467 non-null  object
 3   mobile                     590467 non-null  object
 4   email                      590467 non-null  object
 5   email_verification_status  590467 non-null  object
 6   date_registered            590467 non-null  object
 7   last_ride_on               234698 non-null  datetime64[ns]
 8   last_login                 564836 non-null  object
 9   SMS_preferred              590467 non-null  object
 10  Email_preferred            590467 non-null  object
 11  Push_preferred             590467 non-null  object
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 54.1+ MB