In [1]:
import pandas as pd
import numpy as np
import datetime
from datetime import timedelta, datetime

In [38]:
data=pd.read_csv("/Users/aayushjain/codes/projects/company assignements/Snape/Customer Migration/RENTAL TRIP ISSUE - Sheet1.csv")

In [39]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 281 entries, 0 to 280
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   bookingId                    281 non-null    object
 1   dateAndTime.created          281 non-null    object
 2   Week Begin                   281 non-null    object
 3   dateAndTime.accepted         281 non-null    object
 4   dateAndTime.journeyStart     281 non-null    object
 5   dateAndTime.journeyComplete  281 non-null    object
 6   Unnamed: 6                   0 non-null      float64
 7   driverDetails.driverId       281 non-null    object
 8   driverDetails.firstName      281 non-null    object
 9   driverDetails.lastName       281 non-null    object
 10  driverDetails.phone          281 non-null    int64
dtypes: float64(1), int64(1), object(9)
memory usage: 24.3+ KB

In [40]:
data['dateAndTime.accepted']

0      2024-06-17T16:49:26.124Z
1      2024-06-17T02:50:36.830Z
2      2024-06-17T05:11:26.800Z
3      2024-06-17T06:31:39.572Z
4      2024-06-17T07:36:06.731Z
                 ...
276    2024-06-30T12:42:31.023Z
277    2024-06-30T13:37:31.370Z
278    2024-06-30T14:52:02.250Z
279    2024-06-30T16:15:26.215Z
280    2024-06-30T17:50:38.357Z
Name: dateAndTime.accepted, Length: 281, dtype: object

In [41]:
data['dateAndTime.created'] = pd.to_datetime(data['dateAndTime.created']) +timedelta(hours=5,minutes=30)

In [42]:
data['dateAndTime.accepted'] = pd.to_datetime(data['dateAndTime.accepted']) +timedelta(hours=5,minutes=30)

In [43]:
data['dateAndTime.journeyStart'] = pd.to_datetime(data['dateAndTime.journeyStart']) +timedelta(hours=5,minutes=30)

In [45]:
data['dateAndTime.journeyComplete']

0      2024-06-17T19:47:44.000Z
1       2024-06-17T11:20:16.000Z
2       2024-06-17T07:46:16.000Z
3       2024-06-17T12:05:25.000Z
4       2024-06-17T09:22:17.000Z
                 ...
276     2024-06-30T15:58:37.000Z
277     2024-06-30T14:38:30.000Z
278     2024-06-30T15:41:29.000Z
279     2024-06-30T17:10:31.000Z
280     2024-06-30T18:16:44.000Z
Name: dateAndTime.journeyComplete, Length: 281, dtype: object

In [50]:
data

,bookingId,dateAndTime.created,Week Begin,dateAndTime.accepted,dateAndTime.journeyStart,dateAndTime.journeyComplete,Unnamed: 6,driverDetails.driverId,driverDetails.firstName,driverDetails.lastName,driverDetails.phone
0,KOL81718585137,2024-06-17 06:15:37+00:00,WB 17 June,2024-06-17 22:19:26.124000+00:00,2024-06-17 23:52:48+00:00,2024-06-17T19:47:44.000Z,NaN,664c5cdd4ba8ee6f84968764,Avijit,Mondal,7908712661
1,KOL1991718592634,2024-06-17 08:20:34+00:00,WB 17 June,2024-06-17 08:20:36.830000+00:00,2024-06-17 08:21:10+00:00,2024-06-17T11:20:16.000Z,NaN,6635e3f89f7441001367f01a,Sanjay,Patra,6291192411
2,KOL2721718595821,2024-06-17 09:13:41+00:00,WB 17 June,2024-06-17 10:41:26.800000+00:00,2024-06-17 13:15:34+00:00,2024-06-17T07:46:16.000Z,NaN,660837c7956187001108f44d,chitta,mandal,7797838651
3,KOL4311718604173,2024-06-17 11:32:54+00:00,WB 17 June,2024-06-17 12:01:39.572000+00:00,2024-06-17 17:34:47+00:00,2024-06-17T12:05:25.000Z,NaN,6610492a8f92bd001137cae1,Soumen,Das,7980287511
4,KOL4111718609747,2024-06-17 13:05:47+00:00,WB 17 June,2024-06-17 13:06:06.731000+00:00,2024-06-17 13:43:52+00:00,2024-06-17T09:22:17.000Z,NaN,6663f83d95d25d6c5bceaae8,nagendar,yadav,8114168496
...,...,...,...,...,...,...,...,...,...,...,...
276,KOL4101719751272,2024-06-30 18:11:12+00:00,WB 24 June,2024-06-30 18:12:31.023000+00:00,2024-06-30 19:02:20+00:00,2024-06-30T15:58:37.000Z,NaN,660d1ff092baa8001839d5ed,jaybev,mitra,9674448776
277,KOL6471719754650,2024-06-30 19:07:30+00:00,WB 24 June,2024-06-30 19:07:31.370000+00:00,2024-06-30 19:09:35+00:00,2024-06-30T14:38:30.000Z,NaN,66617adbe750c98072e048f2,Md Mehraj,Ahmed,6291928935
278,KOL6751719759112,2024-06-30 20:21:52+00:00,WB 24 June,2024-06-30 20:22:02.250000+00:00,2024-06-30 20:26:57+00:00,2024-06-30T15:41:29.000Z,NaN,6673d186c2b86a14e34255ce,Mayank,Sharma,6290958033
279,KOL5151719764055,2024-06-30 21:44:15+00:00,WB 24 June,2024-06-30 21:45:26.215000+00:00,2024-06-30 22:05:07+00:00,2024-06-30T17:10:31.000Z,NaN,664c55d694e4d5f7e98fe1e2,Vijaydeep,Singh,8806764501
280,KOL2671719769825,2024-06-30 23:20:25+00:00,WB 24 June,2024-06-30 23:20:38.357000+00:00,2024-06-30 23:28:47+00:00,2024-06-30T18:16:44.000Z,NaN,663704bc8ff90e0011a07312,Protap Rajbanshi,Protap Rajbanshi,8597863832

In [52]:
data[data['bookingId']=='KOL81718585137']['dateAndTime.journeyComplete']='2024-06-17T19:47:44.000Z'

/var/folders/q_/dn720rf91691y39h0s_hr_280000gn/T/ipykernel_37333/436598140.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[data['bookingId']=='KOL81718585137']['dateAndTime.journeyComplete']='2024-06-17T19:47:44.000Z'

In [54]:
data['dateAndTime.journeyComplete']

0      2024-06-17T19:47:44.000Z
1       2024-06-17T11:20:16.000Z
2       2024-06-17T07:46:16.000Z
3       2024-06-17T12:05:25.000Z
4       2024-06-17T09:22:17.000Z
                 ...
276     2024-06-30T15:58:37.000Z
277     2024-06-30T14:38:30.000Z
278     2024-06-30T15:41:29.000Z
279     2024-06-30T17:10:31.000Z
280     2024-06-30T18:16:44.000Z
Name: dateAndTime.journeyComplete, Length: 281, dtype: object

In [53]:
data['dateAndTime.journeyComplete'] = pd.to_datetime(data['dateAndTime.journeyComplete']) +timedelta(hours=5,minutes=30)

ValueError: time data "2024-06-17T11:20:16.000Z" doesn't match format "%Y-%m-%dT%H:%M:%S.%fZ ", at position 1. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [56]:
mydata_bruh=data[data['bookingId']=='KOL5811718871710']